.clear{clear: both;}
.wrap_your_need
{
	width: 921px;
	margin: auto;
	overflow: hidden;
}
#scroll_yourneed {

	padding: 20px 18px 20px 8px;
	/*height:450px;
	overflow: auto;*/
}
.wrap_full_left
{
	width: 675px;
	padding: 3px;
	background:#fff;
	border: 1px solid #e6e7e8;
	height: 318px;
	float: left
}
.your_need_left{
	width: 640px;
	padding-left: 34px;
	padding-top: 32px;
	padding-bottom: 36px;
	height: 314px;

}
.title_your_need_left
{
	color:#234e91;
	font-weight: bold;;
	text-transform: uppercase;
	margin-left: 20px;
	font-size: 20px;
}
.list_yourneed{
	width: 921px;
	background: #ffffff;
	border: 1px solid #e6e7e8;
	margin: 0px auto;
	margin-bottom: 12px;
}
.title_list_yourneed{
	background-color: #919191;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	height: 32px;
	line-height: 32px;
	margin:3px;
	padding-left: 40px;
	width: 873px;
	text-transform: uppercase;
}
.wrap_yourneed
{
	margin-left: 10px;
}
.item_yourneed
{
	float: left;
	width: 160px;
	background: #fff;
	text-align: center;
	margin:10px 0px 20px 12px;
	position: relative;
}
.item_yourneed .your_img img
{
	width: 160px;
}
.item_yourneed  .your_range{
	margin-top: 20px;
	/* font-weight: bold; */
	color: #7893be;
	text-transform: uppercase;
	font-size: 11px;
}
.item_yourneed .your_name{
	font-size: 8pt;
	margin-top: 5px;
	/*font-weight: bold;*/
	text-transform: uppercase;
	min-height: 61px;
	height: 61px;
	overflow:hidden;
	color: #414042;
	padding: 0 5px;
	/*text-align: justify;*/
}
.item_yourneed .your_box_detail {
	background: #ebf1fd;
	padding: 1px 0px 7px 0px;
	margin: 0 2px;
}
.item_yourneed .your_box_detail .product_star_review {
	margin: 10px auto 10px;
	overflow: hidden;
	width: 85px;
}
.wrap_your_need .buy_product{
	float:right;
	height: 322px;
	width: 206px;
	background: #ffffff;
	padding: 7px;
	border: 1px solid #e6e7e8;
}
.wrap_your_need .buy_product .buy_product_inner{
/*	background: url(../images/bg_box_product_inner.png);*/
	width: 207px;
	height: 307px;
	/*padding-top: 60px;*/
}
.wrap_your_need .buy_product .buy_product_inner .bottom_buy_product_online{
	padding-top:10px;
	background: url(../images/bg_box_product_inner.png) no-repeat;
	height: 212px;
}
.wrap_your_need .buy_product .buy_product_inner img{
	margin-bottom: 16px;
}
.wrap_your_need .buy_product_inner_1{
	color: #414042;
	font-size: 14px;
	font-weight: bold;
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
	width: 140px;
}
.wrap_your_need .buy_product_inner_2{
	margin: 0 auto 10px;
	text-align: center;
	text-transform: uppercase;
	width: 165px;
	font-size: 13px;
}
.wrap_your_need a.buy_product_inner_offline{
	background: none repeat scroll 0 0 #4e8dae;
	color: #ffffff;
	display: block;
	font-weight: bold;
	height: 32px;
	line-height: 32px;
	margin: 10px auto 10px;
	text-align: center;
	text-transform: uppercase;
	width: 134px;
}
.top_buy_product_online
{
	padding: 20px 25px;
	width: 157px;
	height: 57px;
	text-align: center;
	text-transform: uppercase;;
	color: #fff;
	background: url(../images/bg_buyonline.png);
	font-size: 15px;
	font-weight: bold;	
}
.wrap_list_product_ranges{
	/*width:921px;*/
	
	clear: both;
	overflow-x: hidden;
}
.wrap_list_product_ranges_content{
	width: 915px;
	margin: 0 auto;
	background: none repeat scroll 0 0 #fff;
	margin-bottom: 20px;
	overflow: hidden;
	padding: 0 3px 3px;/*custom padding*/
	border: 1px solid #e6e7e8;
	border-top:none;
	box-shadow: 1px 1px 2px #B6B7B9;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.product_range_name{
	line-height: 30px;
	height: 30px;
	width: inherit;
	color: #ffffff;
	font-size: 16px;
	text-transform: uppercase;
	padding-left: 60px;
}
.product_range_name span{
	font-weight: bold;
}
.wrap_product_range{
	width:911px;
	margin: 0px auto;
	padding: 3px;
	background: #ffffff;
	overflow: hidden;
	margin-bottom: 12px;
	border: 1px solid #e6e7e8;
}
.product_range_left{
	float: left;
	width: 659px;
	height: 315px;
}
.product_range_left_name{
	padding-left: 25px;
	font-size: 35px;
	text-transform: uppercase;
	width: 337px;
	margin-bottom:5px;
	margin-top: 30px;
}
.product_range_left_short_desc{
	padding-left:25px;
	width: 340px;
	font-size: 16px;
	margin-bottom: 20px;
}
.product_range_left_full_desc{
	padding-left:25px;
	font-size: 12px;
	width: 340px;
}
.product_range_right{
	float: left;
	width: 240px;
}
.product_range_right_top, .product_range_right_middle, .product_range_right_bottom{
	width:203px;
	height: 65px;
	font-size: 14px;
	color: #ffffff;
	position: relative;
	text-align: center;
	padding:20px 25px;
}

.product_range_right_top img, .product_range_right_middle img, .product_range_right_bottom img{
	position: absolute;
	top:10px;
	left:111px;
}
/*.product_range_right_top span, .product_range_right_middle span, .product_range_right_bottom span{
	text-transform: uppercase;
	font-weight: bold;
}*/
.product_range_right_top .product_range_content, .product_range_right_middle .product_range_content, .product_range_right_bottom .product_range_content {
	/*font-weight: bold;*/
	/*position: absolute;*/
	top: 35%;
	width: inherit;
	right:16%;
}
.product_range_content .title_right
{
	font-weight: bold;
	text-transform: uppercase;
	font-size: 13px;
	width: 203px;
	text-align: center;
	margin-bottom: 10px;
}
.product_range_content span
{
	width: 203px;
	text-transform: none;
}
.other_product_ranges{
	margin-top: 10px;	
}
.title_select_other_range{
	margin-bottom: 15px;
	font-weight: bold;
	font-size: 13px;
}
.select_other_range{
	text-transform: uppercase;
}

/*CSS Product detail*/
.wrap_product_detail{
	width:921px;
	margin: 0px auto;
	overflow: hidden;
}
.wrap_product_detail .product_detail{
	float: left;
	width: 660px;
	height: 313px;
	padding-left: 31px;
	padding-top: 32px;
	padding-bottom: 26px;
	background: #ffffff;
	border: 1px solid #e6e7e8;
}
.wrap_product_detail .product_detail .product_detail_left{
	float: left;
	width: 399px;
	margin-top: -12px;
	margin-left: -5px;
}

.wrap_product_detail .product_detail .product_detail_image{
	float: left;
	width: 264px;
}
.product_detail_image > img {
  display: block;
  margin: 0 auto;
}
.wrap_product_detail .product_detail_range_name{
	text-transform: uppercase;
	margin-bottom: 10px;
	font-size: 16px;
}

.wrap_product_detail .product_detail_name{
	text-transform: uppercase;
	margin-bottom: 12px;
	font-size: 24px;
	/*max-height: 84px;*/
	overflow-y: hidden;
}

.wrap_product_detail .product_detail_desc{
	font-size: 12px;
	max-height: 94px;
	line-height: 19px;
	margin-bottom: 12px;
	overflow-y: hidden;
}
.wrap_product_detail .product_detail_rating{
	margin-bottom: 15px;
	overflow: hidden;
}
.wrap_product_detail .product_detail_review{
	margin-bottom: 15px;
	text-align:left;
	width: 127px;
}
.wrap_product_detail .top_add_review{
	margin-bottom: 12px;
}
.wrap_product_detail .buy_product{
	float: left;
	height: 365px;
	width: 205px;
	margin-left: 12px;
	background: #ffffff;
	padding: 3px;
	border: 1px solid #e6e7e8;
}
.wrap_product_detail .buy_product .buy_product_inner{
/*	background: url(../images/bg_box_product_inner.png);*/
	width: 207px;
	height: 307px;
	/*padding-top: 9px;*/
}
.wrap_product_detail .buy_product .buy_product_inner .bottom_buy_product_online{
	padding-top: 31px;
	background: url(../images/bg_box_product_inner.png) no-repeat;
	height: 236px;
}
.wrap_product_detail .buy_product .buy_product_inner .bottom_buy_product_online .product-detail-hover-buy-online{
	margin-bottom: 25px;
}
.wrap_product_detail .buy_product .buy_product_inner img{
	margin-bottom: 16px;
}
.wrap_product_detail .buy_product_inner_1{
	color: #414042;
	font-size: 13px;
	font-weight: bold;
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
	width: 170px;
}
.wrap_product_detail .buy_product_inner_2{
	margin: 0 auto 10px;
	text-align: center;
	text-transform: uppercase;
	width: 165px;
	font-size: 13px;
}
.wrap_product_detail .buy_product_inner_offline{
	background: none repeat scroll 0 0 #4e8dae;
	color: #ffffff;
	display: block;
	font-weight: bold;
	height: 32px;
	line-height: 32px;
	margin: 16px auto 0px auto;
	text-align: center;
	text-transform: uppercase;
	width: 134px;
}
.wrap_product_detail .description{
	margin-top: 12px;
	background: #ffffff;
	padding: 3px;
	width: 685px;
	float: left;
	border: 1px solid #e6e7e8;
}
.wrap_product_detail .description .tabs > li{
	float: left;
	width: 170px;
	margin-right: 1px;
}
.wrap_product_detail .description .tabs > li:last-child{
	margin-right: 0px;
}
.wrap_product_detail .description .tabs > li > a{
	display: inline-block;
	width:100%;
	text-align: center;
	line-height: 58px;
	height: 58px;
	color: #ffffff;
	background: #6e8bb9;
	text-transform: uppercase;
	font-weight: bold;
}
.wrap_product_detail .description .tabs > li > a.active{
	background: #234e92;
}
.wrap_product_detail .description .tab-container{
	clear: both;
	/*padding: 20px 36px;*/
	padding: 20px 18px 20px 36px;
}
.wrap_product_detail .description .tab-container .tab-content{
	height: 268px;
	overflow: hidden;
	width: 635px;
}.wrap_product_range_item .desc_range {
	float: right;
	font-size: 12px;
	margin-right: 52px;
	text-transform: capitalize;
	font-weight: normal;
}
