.wrap_diagnosis_advice_product{
	margin: 0 auto 20px;
	overflow: hidden;
	width: 940px;
}
.diagnosis_advice_product_item{
	background: #FFFFFF;
	float: left;
	padding: 7px;
	width: 446px;
}
.diagnosis_advice_product_item_text {
	height: 153px;
	background: url(../images/bg1.jpg) ;
	color: white;
	text-align: center;
}
.diagnosis_advice_product_item_title {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 20px;
	padding-top: 20px;
	text-transform: uppercase;
}
.diagnosis_advice_product_item_body {
  font-size: 14px;
  padding: 0 20px;
  height: 65px;
  overflow: hidden;
}