/* ========================================
 *  $ =  CSS RESET
 * ======================================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;

  border: 0;
  outline: 0;
  /*font-weight: normal;*/
  font-style: inherit;
  font-family: inherit;
}
:focus {
  outline: 0;
}

a {
  cursor:pointer;
  outline: none;
  }
html {
  -webkit-font-smoothing: antialiased;
  }
body {
  font-family: arial,sans-serif; color: black; font-size: 11px;
}
ol, ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
table tr {
  vertical-align: top;
  }
caption, th, td {
  text-align: left;
  font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}
a:link, a:visited {
  color:#6e7f8a;
  text-decoration: none !important;
  }
a:hover {
  color:#475862;
  text-decoration: none !important;
}
a:focus {}

.clearfix {
  display: block;
}


/**CSS STRUCTURE**/
html{
  background:#f5faff;
}

@font-face {
    font-family: 'HelveticaNeueLight';
    src: url('../font/helveticaneue-light.eot');
    src: url('../font/helveticaneue-light.eot') format('embedded-opentype'),
         url('../font/helveticaneue-light.woff') format('woff'),
         url('../font/helveticaneue-light.ttf') format('truetype'),
         url('../font/helveticaneue-light.svg#HelveticaNeueLight') format('svg');
     
  font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'helvetica_bold';
    src: url('../font/helveticabold.eot');
    src: url('../font/helveticabold.eot?#iefix') format('embedded-opentype'),
         url('../font/helveticabold.woff') format('woff'),
         url('../font/helveticabold.ttf') format('truetype'),
         url('../font/helveticabold.svg#helvetica_bold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'HelveticaLTStdLight';
    src: url('../font/helveticaltstd-light.eot');
    src: url('../font/helveticaltstd-light.eot') format('embedded-opentype'),
         url('../font/helveticaltstd-light.woff') format('woff'),
         url('../font/helveticaltstd-light.ttf') format('truetype'),
         url('../font/helveticaltstd-light.svg#HelveticaLTStdLight') format('svg');
}
/*body{
  min-width:1005px;
}*/
.clear{clear: both;}
.container{
  padding:0 !important;
  width:100% !important;
  position:relative;
  background:#fff;
}

.main-center {
  width: 100%;
  margin: 0 auto;
}
/*body.ie6 .hover_shadow,
body.ie7 .hover_shadow,
body.ie8 .hover_shadow {
   zoom: 1;
   filter: progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=5, Direction=0),
         progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=5, Direction=90),
         progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=5, Direction=180),
         progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=5, Direction=270);
}
body.ie6 .vichy_home_common:hover,
body.ie7 .vichy_home_common:hover,
body.ie8 .vichy_home_common:hover {
   zoom: 1;
   filter: progid:DXImageTransform.Microsoft.Shadow(Color=#234e91, Strength=5, Direction=0),
         progid:DXImageTransform.Microsoft.Shadow(Color=#234e91, Strength=5, Direction=90),
         progid:DXImageTransform.Microsoft.Shadow(Color=#234e91, Strength=5, Direction=180),
         progid:DXImageTransform.Microsoft.Shadow(Color=#234e91, Strength=5, Direction=270);

}*/
/*CSS header*/

/*header.main {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background: url('../images/f_header_main.gif') left top repeat-x #fff;
}*/
header.main{
  width: 100%;
  float:left;
  position: fixed;
  left:0;
  top: 0;
  z-index: 999; 
  _position: absolute;
  _top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') 
  ? documentElement.scrollTop +(documentElement.clientHeight-this.clientHeight) 
  : document.body.scrollTop +(document.body.clientHeight-this.clientHeight));
  background: url('../images/f_header_main.gif') left top repeat-x #fff;
}
header.main .main-center {
  width: 922px;
  /*height: 144px;*/
  height: 93px;
  /*padding: 15px 0 0 20px;*/
  position: relative;
}

.logo-vichy {
  /*padding: 15px 0 0 0;
  margin: 0 10px 0 0;*/
  width: 160px;
  float: left;

}

.logo-vichy a {
  display: block;
  /*height: 95px;*/
  height: 71px;
  text-indent: -5000px;
  /*background: url('../images/v_logo-vichy.gif') left bottom no-repeat;*/
  /*background: url('../images/vichy_logo.png') left bottom no-repeat;*/
  background: url('../images/Logo_Vichy3.png') left bottom no-repeat;
}

.nav-vichy{
  float:right;
  width: 735px;
}

.nav-vichy .nav-vichy-top{
  padding-bottom: 0px;
  width: 100%;
}

.nav-vichy-top .nav-vichy-top-left{
  width: 210px;
  height: 30px;
  float: left;
  /*margin-top: 29px;*/
  /*margin-top: 3px;*/
}

.nav-vichy-top .nav-vichy-top-left .search{
  width: 210px;
  position: relative;
}

.nav-vichy-top-left .search .inputbox {
  height: 29px;
  width:177px;
  border: none;
  background: white;
  border-top: 1px solid #cad2da;
  border-left: 1px solid #cad2da;
  border-bottom: 1px solid #cad2da;
  float: left;
  outline: none;
  padding-left: 5px;
  padding-right: 5px;
}

.nav-vichy-top-left .search .btn-search {
  position: absolute;
  right: 0;
  border: none;
  width: 33px;
  height:29px;
  float: left;
  background: url('../images/bt-search.png') no-repeat;
  background-position: center;
  border-top: 1px solid #cad2da;
  border-right: 1px solid #cad2da;
  border-bottom: 1px solid #cad2da;
  cursor: pointer;
  outline: none;
}

.nav-vichy-top .nav-vichy-top-right{
   float: right;
    min-width: 466px;
}

/*.nav-vichy-top-right .login{
  
  font-size: 14px;
  padding-top: 10px;
  margin-right:25px;
  width: 150px;
  height: 29x;
  line-height: 29px;
  float: left;
  text-align: center;
}
.nav-vichy-top-right .login .in{
  font-weight: bold;
  color:#6e8bb9;
  padding-left: 28px;
}*/

.nav-vichy-top-right .login .out{
  font-weight: bold;
  color:#414042
}

.nav-vichy-top-right .newsletter{
  width: 24px;
  float: left;
  height: 21px;
  background: url('../images/mail.png') no-repeat; 
  margin-right: 2px;
  cursor: pointer;
  
}

.nav-vichy-top-right .social-link{
  /*width:95px;*/
  float:right;
  height: 30px;
  position: absolute;
  top:31px;
  right:0px;
}
.nav-vichy-top-right .social-link img{
  padding-left: 3px;
}


.nav-vichy .nav-vichy-bottom{
  width: 100%;
  /*height: 45px;*/
  height: 34px;
  float: left;
}
ul.vichy-menu{
  display: block;
  /*margin-top: 11px;*/
  margin-top: 33px;
  float: right;
}

ul.vichy-menu li {
  float: left;
  margin-left:15px;
  transition:0,5s;
}

ul.vichy-menu li a{
  color: #414042;
  /*font-size: 15px;*/
  font-size: 12px;
  text-transform: uppercase;
  font-family: Arial,'helvetica_bold';
  letter-spacing: .3px;
  font-weight: bold;
  /*height: 44px;
  line-height: 44px;*/
  height: 30px;
  line-height: 30px;
  display: block;
  padding: 0px 12px;
  /*transition:0,3s;*/
}

ul.vichy-menu li a:hover{

  background:url('../images/menu_active.png') repeat-x ;
  color: #fff;

}

ul.vichy-menu li.active a {
  
  background:url('../images/menu_active.png') repeat-x ;
  color: #fff;
}

.nav-vichy-bottom .vichy-link{
  min-width: 285px;
  height: 30px;
  float: right;
  /*margin-top:20px;*/
}

.vichy-link .my_skin{
  width: 152px;
  float: left;
    height: 29px;
    padding-left:60px;
    line-height: 29px;
    background: url('../images/my_skin.png') no-repeat;
  background-position: left;
  margin-right: 5px;
}

.vichy-link .basket{
  width: 152px;
  float: left;
    height: 29px;
    padding-left:48px;
    line-height: 29px;
    background: url('../images/by_online.png') no-repeat;
  background-position: left;
  margin-right: 5px;
}

.vichy-link .store{
  margin-bottom:0;
  width: 152px;
  float: left;
    font-size: 14px;
    height: 29px;
    line-height: 29px;
    padding-left: 40px;
  background: url('../images/pointer.png') no-repeat;
  background-position: left;
}
.vichy-link .basket a, .vichy-link .store a, .vichy-link .my_skin a{
  color: #fff;
  font-size: 12px;
}
/*CSS sub header*/

div.sub-header {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #a0b8d2;
  background: url('../images/f_sub-header.gif') left 1px repeat-x #a9bdd0;
  box-shadow: 0 2px 2px rgba(0,0,0,.25);
}

div.sub-header {
  position: fixed;
  z-index: 90;
  top: 80px;
  width: 100%;
  height: 34px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #cad2da;
  background: url('../images/f_sub-header-inner.gif') left 1px repeat-x #f5faff;
}

/*CSS main content*/
div.main-container {
  /*min-height: 1000px;*/
  padding-top: 135px;/*custom padding*/
  clear: both;
  /*background: url('../images/f_main_generique.jpg') center 116px no-repeat fixed;*/
  background: url('../images/f_main_generique.jpg') center 98px no-repeat fixed;
}
/*CSS for border homepage*/
.border_home{
  background: #234e91;
  width: 100%;
  height: 5px;
  position: fixed;
  /*top: 144px;*/
  top: 93px;
  z-index:10;  
}

/*CSS breadcrumb*/
.vichy-breadcrumb{
  height: 32px;
  line-height: 32px;
  /*background: #6e8bb9;*/
  background: #234e91;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
  position: fixed;
  /*top: 144px;  */
  top: 93px;  
  width: 100%;
  z-index:10;  
  vertical-align: middle;
}


.vichy-breadcrumb-inactive{
  position: relative;  
  float: left;
  width: 165px;
  height: 32px;
  line-height: 32px;    
}

.vichy-breadcrumb-active{
  /*background: #6e8bb9;*/
  position: relative;  
  float: left;
  width: 196px;
  height: 32px;
  line-height: 32px;    
  /*background: url(../images/bg_breadcrumb_active.png) no-repeat;  */
  /*background-color: #6bc3ec;*/
}


.breadcrumbs{
  height: 32px;
  line-height: 32px;
  /*background: #6e8bb9;
  background: #fff;*/
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;  
  top: 144px;  
  width: 926px;    
  margin: 0 auto;
  vertical-align: middle;    
}

.breadcrumbs .breadcrumb_level_1{
  /*background-color: #6bc3ec;*/
}

.breadcrumbs .breadcrumb_level_2{
  /*background-color: #3f74c8;*/
  background: url(../images/bg_breadcrumb_2.png) no-repeat;  
}

.breadcrumbs .breadcrumb_level_3{
  /*background-color: #3c9bc7;*/
  background: url(../images/bg_breadcrumb_3.png) no-repeat;
}

.breadcrumbs .breadcrumb_level_4{
  /*background-color: #6bc3ec;*/
  background: url(../images/bg_breadcrumb_4.png) no-repeat;
}

.breadcrumbs-right-style{
  height: 32px;
  line-height: 32px;
  /*background: #6e8bb9;
  background: #fff;*/
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;  
  top: 144px;  
  width: 720px;    
  margin: 0 auto;
  vertical-align: middle;  
  padding-left: 220px
}

.breadcrumbs span{
  display: block;
  width: 151px;  
  float: left;
  overflow: hidden;
  position: relative;
  margin-left: 14px;  
  text-align: center;  
  height: 32px;
  line-height: 32px;
}
.breadcrumbs a{
  /*display: line-block;*/
  display: block;
  width: 165px;  
  float: left;
  overflow: hidden;
  text-align: center;  
  height: 32px;
  line-height: 32px;
}
.breadcrumbs a:link, .breadcrumbs a:visited{
  color: #fff;
}
.breadcrumbs a:hover{
  color: #fff;  
}
.breadcrumbs img{
  /*display: none;*/
  float: left;
}
.breadcrumbs-right-style span{
  display: block;
  width: 151px;  
  float: left;
  overflow: hidden;
  position: relative;
  margin-left: 14px;  
  text-align: center;  
  height: 32px;
  line-height: 32px;
}
.breadcrumbs-right-style a{
  /*display: line-block;*/
  display: block;
  width: 196px;  
  float: left;
  overflow: hidden;
  text-align: center;  
  height: 32px;
  line-height: 32px;
}
.breadcrumbs-right-style a:link, .breadcrumbs-right-style a:visited{
  color: #fff;
}
.breadcrumbs-right-style a:hover{
  color: #fff;  
}
.breadcrumbs-right-style img{
  /*display: none;*/
  float: left;
}
/*CSS footer*/
footer.main {
  width: 100%;
  clear: both;
padding: 5px 0 22px 0;
  border-top: 1px solid #cad2da;
  background:#d9e7f4;
}

footer.main .top {
  overflow: hidden;
  padding-bottom: 20px;
}

footer.main .top .main-center {
  width: 926px;

}

footer.main .top .footer_request {
  width:380px;
  float: left;
  margin-right:20px;
}
footer.main .top .footer_request .footer_request_left
{
  float: left;
  width: 235px;
  
}
footer.main .top .footer_request .footer_request_left .sub_1
{
  width: 100%;
  line-height: 25px;
  line-height: 25px;
}

footer.main .top .footer_request .footer_request_left .sub_1 a.sub_1_a
{
  background: none;
  padding: 0px;
  color: #333;
  text-transform: none;
  font-size: 12px;
  font-weight: bold;
  height: 25px;
  line-height: 25px;
}
footer.main .top .footer_request .footer_request_left .sub_1 a.sub_1_a:hover, a.sub_2_a:hover
{
  color: #335a99;
}
footer.main .top .footer_request .sub_2
{
  
  line-height: 25px;
  line-height: 25px;
}
a.sub_2_a
{
     color: #333;
     background:left center url('../images/point_black.png') no-repeat;
     padding-left:8px; 
     color: #666;
    text-transform: none;
    font-size: 11px;
    font-weight:normal;
    height: 25px;
    line-height: 25px;
}
footer.main .top .footer_request .footer_request_right
{
  float: right;
  width: 135px;
}
footer.main .top .footer_request .footer_request_right .sub_1
{
  width: 100%;
  line-height: 25px;
  line-height: 25px;
}

footer.main .top .footer_request .footer_request_right .sub_1 a.sub_1_a
{
  background: none;
  padding: 0px;
  color: #333;
  text-transform: none;
  font-size: 11px;
  font-weight: bold;
  height: 25px;
  line-height: 25px;
}
footer.main .top .footer_request .footer_request_right .sub_1 a.sub_1_a:hover
{
  color: #335a99;
}
footer.main .top .footer_item
{
  float: left;
  width: 255px;
  margin-right: 20px;
}
footer.main .top .footer_item .footer_item_sub
{
   width: 100%;
   height: 200px;
}
footer.main .top .footer_item .footer_item_sub .sub_main_left
{
    width:127px;
  float: left;
}
footer.main .top .footer_item .sub_main a.sub_main_a
{
  background: none;
  padding: 0px;
  color: #666;
  text-transform: none;
  font-size: 11px;
  font-weight: normal;
  height: 25px;
  line-height: 25px;
}

footer.main .top .footer_item .sub_main_left .sub_main a.sub_main_a:hover
{
  color: #335a99;

}
footer.main .top .footer_item .footer_item_sub .sub_main_right
{
  float: right;
  width: 70px;
}
footer.main .top .footer_item .footer_item_sub .sub_main_left_branch{
  float: left;
  width:118px;

}
footer.main .top .footer_item .footer_item_sub .sub_main_right_branch{
  float:right;
  width: 93px;
}
footer.main h4 {
  font-size: 12px;
  color: #414042;
  padding: 15px 0 10px 0;
  margin: 0 0 10px 0;
  border-bottom: 1px solid #cad2da;
  text-transform: uppercase;
  font-weight: bold;
}

footer.main .top li {
  margin: 0 0 5px 0;
}

footer.main a {
  
  margin-left: 1.5%;
  margin-right: 1%;
}

footer.main .bottom {
  color: #6e7f8a;
  margin-top: -40px;
}

footer.main .bottom .main-center {
  width: 945px;
  padding: 6px 16px;
  color: #414042;
  font-size: 12px;
}
a.uppercase
{
  text-transform: uppercase !important;
}
/*Style for product*/
.product_item{
  width: 153px;
  position: relative;
  background: #fff;
  text-align: center;
}
.product_item .product_new{
  position: absolute;
  z-index: 9;
  width: 61px;
  height: 61px;
  line-height: 61px;
  top: 0;
  right: 0;
  color: #fff;
  background: url(../images/bg_what_new.png);
  text-transform:uppercase;
  font-weight: bold;
}
.product_item .product_favorite{
  position: absolute;
  z-index: 9;
  width: 61px;
  height: 61px;
  /*line-height: 61px;*/
  top: 0;
  right: 0;
  color: #fff;
  background: url(../images/bg_what_fav.png) no-repeat;
  text-transform:uppercase;
  font-weight: bold;
  display: block;
}

.product_item .favorite_featured{
  width: 58px;
  height: 61px;  
  margin-top: 13px;
  margin-left: 2px;
  font-size: 12px;
}
.item_yourneed .product_new{
  position: absolute;
  z-index: 9;
  width: 61px;
  height: 61px;
  line-height: 61px;
  bottom: 145px;
  right: 0;
  color: #fff;
  background: url(../images/bg_what_new.png);
  text-transform:uppercase;
  font-weight: bold;
}
.item_yourneed .product_favorite{
  position: absolute;
  z-index: 9;
  width: 61px;
  height: 61px;
  /*line-height: 61px;*/
  bottom: 145px;
  right: 0;
  color: #fff;
  background: url(../images/bg_what_fav.png) no-repeat;
  text-transform:uppercase;
  font-weight: bold;
  display: block;
}

.item_yourneed .favorite_featured{
  width: 58px;
  height: 61px;  
  margin-top: 13px;
  margin-left: 2px;
  font-size: 12px;
}

.product_item .product_range{
  margin-top: 20px;
  /*font-weight: bold;*/
  color: #7893be;
  text-transform: uppercase;
  font-size: 11px;
}
.product_item .product_name{
  font-size: 8pt;
  margin-top: 5px;
  /*font-weight: bold;*/
  text-transform: uppercase;
  min-height: 61px;
  height: 110px;
  overflow:hidden;
  color: #414042;
  padding: 0 5px;
  /*text-align: justify;*/
}
.product_item .product_skin_care{
  font-size: 12px;
  margin-top: 5px;
  min-height: 27px;
  height: 27px;
  overflow:hidden;
}
.product_item .product_box_detail
{
  background: #ebf1fd;
  padding: 1px 0px 7px 0px;
  margin: 0 2px;
}

.product_item .product_star_review {
  margin: 10px auto 10px;
  overflow: hidden;
  width: 85px;
}

.item-112{
  display: none;
}

/*=======paging=========*/

.paging
{
  text-align: center;
  height: 13px;
}

.paging a
{
  width: 13px;
  height: 13px;
  background-color: #b1b3b6;
  text-indent: -99999px;
  display: inline-block;
  border-radius: 50%; 
  -moz-border-radius: 50%; 
  -webkit-border-radius: 50%;
  margin: 0 3px;
}
.paging a.active
{
  background-color: #6e8bb9;
}


/*======End paging=======*/

.buy-online
{
  position: absolute;
/*  /*top: 145px;*/
  /*left:455px;*/
  /*height: 50px;*/
  visibility:hidden;
  z-index: 100;
      /*width: 100%;*/
  background: #fff !important;
  border:solid 1px #ccc;
  border-top: none;
}
.buy-online a{
  padding: 5px 5px;
  float: left;
  display: block;

}
.buy-online a img
{
  width: 100px;
  height: 50px;
}
.top_add_review {
  /*background: url("../images/add_your_review.jpg") no-repeat;*/
  color: #FFFFFF;
  display: inline-block;
  font-weight: bold;
  height: 32px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  width: 152px;
  font-size: 12px;
}

.top_add_review:hover{
  color: #fff;
}
/*Box shadow*/
.box_shadow{
  border-radius: 5px;
    box-shadow: 1px 1px 2px #B6B7B9;
}
.box_shadow_2{
  border-top-left-radius:5px;
  border-top-right-radius:5px;
    box-shadow: 1px 1px 2px #B6B7B9;
}
.box_shadow_3{
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
    box-shadow: 1px 1px 2px #B6B7B9;
}

.button-up{
   bottom: 32em;
   display: none;
   font-size: 12px;
   position: fixed;
   /*right: 7em;*/
   text-decoration: none;
}
.button-down{
   bottom: 2em;  
   font-size: 12px;
   position: fixed;
   /*right: 7em;*/
   text-decoration: none;
}
div.comming-soon{
  color: #106cc3;
  font-size: 80px;
  margin: 125px auto 0;
  width: 625px;
}
.image_product img{
  width:100%;
}
/*CSS PC >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media(min-width: 993px){
  a:hover{
    text-decoration: none !important;
  }
  .mobile-style{
    display: none!important;
  }
  .vichy_home_common{
    margin: 0px 12px 12px 0px;
  }
  .vichy_home_slide_top{
    margin-top: 20px;
  }
  .radio, .checkbox{
    display: inline !important;
  }
  .nav-vichy-top-right .login .popup-login h1{
    margin: 10px 0 0 0 !important;
  }
  .login-form form p{
    margin-bottom: 0 !important;
  }
  .vichy-blog .list-blog li{
    height: 455px !important;

  }
  .left-form .row{
      padding-left: 15px;
  }
  .vichy-blog .list-blog li .content_blog{
    margin: 12px 0px !important;
    padding: 0 5px;
   
  }
  .vichy-blog .list-blog .image img {
    max-width: 258px !important;
  }

}
/*CSS MOBILE >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (width: 414px){
   .vichy-blog .list-blog .image img{
      width: 385px;
   }
    .label_email{
        margin-bottom: 10px;
    }
}
@media (width: 375px){
   .vichy-blog .list-blog .image img{
      width: 347px;
   }
    .label_email{
        margin-bottom: 10px;
    }
}
@media (width: 375px){
   .vichy-blog .list-blog .image img{
      width: 347px;
   }
    .label_email{
        margin-bottom: 10px;
    }
}
@media (width: 360px){
   .vichy-blog .list-blog .image img{
      width: 330px;
   }
    .label_email{
        margin-bottom: 10px;
    }
}
@media (max-width: 330px){
   .vichy-blog .list-blog .image img{
      width: 292px;
   }
    .label_email{
        margin-bottom: 10px;
    }
}
@media(max-width: 992px){
    header.main{
        position: relative!important;
    }
    .label_email{
        margin-bottom: 10px;
    }
    .vichy-search,.vichy-search .box-search .box-input .search-comp{
      width: 100% !important;
    }
    .vichy-search .box-search{
      padding: 2% !important;
    }
    .no-border
    {
        border:0!important;
    }
    .no-padding
    {
        padding:0!important;
    }
    .no-margin
    {
        margin:0!important;
    }
    .col-xs-4{
        width: 33.33333333%!important;
    }
    .mobile-style{
        display: inherit!important;
    }
    .content_text-intro{
        /*margin-bottom: 224px!important;*/
        padding:0 15px!important;
    }
    .content-right{
        padding:0px!important;

    }
    .auto-width-height{
        width: auto !important;
        height:auto!important;
    }
    .content-left{
     margin:0!important;
        padding:0!important;
    }
    .spa_text{
        margin:0!important;
        float: none!important;
    }
    .title_item{
      text-transform: uppercase !important;
        font-weight: bold !important;
    }
    .no-width-height{
        
        width: 100%!important;
        height:100%!important;
    }
    .product_range_left_name,.product_range_left_short_desc,.product_range_left_full_desc{
        padding-left:0!important;
    }
  div.main-container{
    background: #fff !important;
  }
  .pc-style{
    display: none!important;
  }
  #top-menu .navbar-default{
    border: 0 !important;
    background-color: #fff;
  }
  #top-menu .navbar-default, #top-menu .navbar-collapse, #top-menu .navbar-default .navbar-form{
    border: 0 !important;
      width: 100%;
    text-align: center;
    background: #012442; /* Old browsers */
    background: -moz-linear-gradient(top,  #012442 0%, #013967 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#012442), color-stop(50%,#013967)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #012442 0%,#013967 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #012442 0%,#013967 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #012442 0%,#013967 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #012442 0%,#013967 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#012442', endColorstr='#013967',GradientType=0 ); /* IE6-9 */

  }
  #navbar .nav > li{
    border-top: 1px solid #4b9fe5; 
  }
  #navbar > .navbar-nav > li > a{
    color: #4b9fe5 !important;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase; 
  }
  #top-menu .last-li-menu a{
    float:left;
    width:30.5%;
    padding:5% 0 !important;
    margin: 0 2%;
  }
  #top-menu .last-li-menu a:first-child{
    margin-left: 2%;
    margin-right: 0%;
  }
  #top-menu .last-li-menu a:last-child{
    float: left !important;
    margin-right: 2%;
    margin-left: 0%;
  }
  #top-menu .navbar-toggle{
    padding: 5px 6px !important;
    border: 1px solid #234e91;
    border-radius: 0 !important;
  }
  #top-menu .navbar-toggle .icon-bar{
    width: 25px !important;
    height: 5px !important;
    border-radius: 0 !important;
  }
  #top-menu .navbar-toggle .icon-bar{
    background-color: #234e91 !important;
  }
  #top-menu .navbar-toggle{
    border-color: #234e91 !important;
  }
  #top-menu .navbar-toggle{
    margin-left: 10px;
    margin-right: 0 !important;
    float: left !important;
  }
  header.main .main-center{
    width: 100%;
    border-bottom: 5px solid #234e91;
    height: auto;
  }
  .navbar{
    margin-bottom: 0 !important;
    border: 0 !important;
    z-index: 99;
  }
  .main-container{
    padding-top: 0 !important;
    margin-top: 100px;
  }
  /*menu 2*/
  ul, ol{
    margin-bottom: 1px !important;
  }
  .bg-li-menu-mobile .sub-menu-a, {
    padding-left: 15px !important;
  }
  .blog-menu{
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .search-box{
    width: 63%;
    float: left;
    margin: 9px 2%;
  }
  .inputbox{
    width:80%;
    height: 35px;
    padding-left: 10px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: 0;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-left: 1px solid #234e91;
    border-top: 1px solid #234e91;
    border-bottom: 1px solid #234e91;
    float: left;
  }
  .btn-search{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;  
    background: url("../images/bt-search.png") no-repeat center;
    cursor: pointer;
    width: 20%;
    padding-left: 0;
    height: 35px;
    border: none;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-right: 1px solid #234e91;
    border-top: 1px solid #234e91;
    border-bottom: 1px solid #234e91;
    float: left;
    background-color: #ffffff;
  }
  .vichy-search .box-search .box-input .search-comp .btn-search{
    height: 39px !important;
    padding-right: 0 !important;
  }
  /* Trang Home*/
  #carousel{
    width: 100% !important;
    height: auto !important;
  }
  .vichy_home_slide_top .nivo-controlNav a{
    width: 15px !important;
    height: 15px !important;
  }
  .vichy_home_slide_top .nivo-controlNav{
    bottom: -2% !important;
    width: 40% !important;
  }
  #carousel img{
    width: 100%;  
    height: auto !important;
  }
  .vichy_home_slide_top{
    height: auto !important;
  }
  .vichy_home_large img {
    width: 100% !important;
    max-height: 150px !important; 
  }
  footer.main {
    padding: 0;
  }
  .social2{
    background:#d9e7f4;
    padding: 20px 20px 0 !important;
    
    color: #3d82a6;
  }
  .last-footer-content{
    background:#d9e7f4;color: #2c4b95; padding:0 0px 20px !important; font-size: 9px; text-align: center;
  }
  .last-footer-content a{
    color: #2c4b95 !important
  }
  .social .title-footer-mobile{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }
  .social .text-footer-mobile{
    float: left;
    font-size: 13px;
    margin-top: 5px;
    margin-right: 5px;
  }
    .remember-box-check{
        width:25px !important;
        margin: 0 !important;
        height: 25px!important;

    }
    .input-login-block
    {
        text-align: center;
    }
    .input-login-block input
    {
        width: 100%;
        font-size: 22px;
        margin-bottom:10px;
    }
    .login-container{
        padding-top:2px;
    }
    .login-container form{
        margin:10px 30px;
    }
    .remember-label{
        padding-top: 3px;
        font-size: 15px;
        padding-left: 8px;
    }
    label{
      font-weight: normal;
    }
    .submit-block{
        text-align: center;
    }
    .submit-block button{
        font-size: 18px;
    }
    .under-block-login{
        text-align: center;
        font-size: 20px;
        margin-bottom:10px;
    }
    .title-dn{
        font-size: 19px;
        color: #6e8bb9;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
    }
  .vichy_home_product{
    margin-bottom: 15px;
    width: auto !important;
  } 
  .home-nomargin-right{margin-right: 0; margin-bottom: 10px;}

  .home-margin-right{margin-right: 10px; margin-bottom: 10px;}
  .col-xs-6{ width: 48% !important; height: auto !important;}
  .col-xs-6 img{width: 100% !important}
  footer.main .top .main-center,
  footer.main .top .footer_item,
  .vichy_home_slide_top,
  .vichy_home_main,
  .vichy_home_main .vichy_home_product .vichy_home_large .text_blog{
    width: 100% !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .vichy_home_main .vichy_home_product .vichy_home_large .text_blog .title_blog{
    font-size: 13px !important;
    margin-top: 4px !important;
    height: 40px !important;
  }
  .vichy_home_main .vichy_home_product .vichy_home_large .text_blog{
    height: 40px !important;
    background-color: #fff !important;
  }
  .location{
    width: 100% !important;
    height: auto !important;
  }
  /*Blog*/
  .listblog{
    display: none;
  }
  .vichy-blog,.vichy-blog .list-blog .image,.vichy-blog .wraper-blog-detail .banner img{
    width: 100% !important;
    height: auto !important; 
  }
  .vichy-blog #carousel img#skin-life{
    width: 15% !important;
    margin-left: 5px !important;
  }
  .vichy-blog #carousel .desc_banner{
    width: 75% !important;
    margin-left: 10px !important;
    margin-top: 5px !important;
  }
  .vichy-blog #carousel .desc_banner .text{
    font-size: 11px !important;
   /* font-weight: bold !important;*/
    margin-bottom: 10px !important; 
  }
  .vichy-blog #carousel{
    width: 100% !important;
    height: 90px !important;
  }
  .vichy-blog .wraper-list-blog{
    padding: 10px !important;
  }
  .vichy-blog .list-blog li{
    width: 100% !important;
    height: auto !important;
    margin: 0 !important;
  }
  .vichy-blog .list-blog .image img{

    height: auto !important;
  }
  .vichy-blog .list-blog .social,.vichy-blog .list-blog .date,.vichy-blog .list-blog .content_blog{
    display: none;
  }
  .vichy-blog .title{
    position: relative;

  }
    .plus1{
        background: url(../images/btn-plus.png) no-repeat -2px;
    }
    .minus1{
        background: url(../images/btn-minus.png) no-repeat -2px;
    }
  .vichy-blog .title .title-blog{
      position: absolute;
      height: auto;
      width: 100%;
      font-weight: bold;
      line-height: 23px;
      text-align: justify;
      bottom: 0;
      background: rgba(255,255,255,0.8);
      padding: 15px;
      margin-left: -8px;
  }
  .vichy-blog .view-more{
    width: auto !important;
    margin-bottom: 10px;
    text-align: center !important;
  }
  .vichy-blog .view-more a{
    color: #fff !important;
    padding: 5px 10px;
    font-style: italic;
    background-color: #0f3e87;
  }
  .vichy-blog .wraper-blog-detail{
    padding: 3% !important;
  }
  .blog-detail{
    float: none !important;
    width: 100% !important;
  }
  .vichy-blog .wraper-blog-detail .banner{

   width: 100% !important; 
   height: auto !important; 
   float:none !important; 
  }
  .blog_detail_description{
    width: 100% !important;
      margin-bottom: 15%;
  }
  .blog-detail .social {
    position: absolute;
    bottom: 1.5%;
  }
  .blog-detail h3.title{
    font-size: 14px !important;
    padding: 0 !important;
  }
  .blog-detail .date{
    margin: 0 0 3%!important;
  }
  /*-----Trang Về Vichy------*/
  .brand-history,.content-left,.content-right{
    width: 100% !important;
    height: auto !important;
  }
  .history-content,.history-controls-content,.time-line{
    width: 100% !important;
  }
  .history-right-content{
    height: 83% !important;
  }
  .info_history{
    width: 100% !important;
    padding: 0 10%;
  }
  .time-line{
    height: 48px !important;
    margin-top: -1.5% !important;
    padding: 0 !important;
  }
  .time-line .time-line-item{
    width: 25% !important;
    height: 100% !important;
  }
  .time-line-item .current{
    bottom:59% !important;
  }
  .ball-time{
    bottom: 75% !important;
  }
  .time-line .time-line-item{
    width: 12.4% !important;
    height: 100% !important;
  }
  .img_history{
    width: 207px !important;
    height: 207px !important;
  }
  .ball-time{
      width: 31px !important; 
  }
  .product_item .product_range{
    min-height: 30px;
  }
  .product_item{
    width: 33% !important;
  }
  .input-nhan-ban-tin{
      width: 85%;
      float: left;
      height: 35px;
      margin-bottom: 3%;
      background: url(../images/bg-input-nbt.png);
      border: 0;
      color: #ffffff;
      padding-left: 5px;
  }
  .btn-nbt{
    float: left;
    height: 36px;
    border: 0;
    width: 12%;  
    background:url(../images/btn-nbt.png);
  }
  .input-nhan-ban-tin::-webkit-input-placeholder {
   color: white;
   padding-left: 2%;
   font-size: 14px;
  }

  .input-nhan-ban-tin:-moz-placeholder { /* Firefox 18- */
     color: white;  
     padding-left: 2%;
   font-size: 14px;
  }

  .input-nhan-ban-tin::-moz-placeholder {  /* Firefox 19+ */
     color: white;  
     padding-left:5%;
   font-size: 15px;
  }

  .input-nhan-ban-tin:-ms-input-placeholder {  
     color: white;  
     padding-left: 2%;
   font-size: 14px;
  }
  .ketnoi a{
    font-size: 11px;
  float: left;
  }
  .common-buy-online-menu{
    visibility: visible !important;
  }
  .common-buy-online-menu a{
    width: 24% !important;
  }
  .buy-online a img{
    width: 100%;
    height: auto;
  }
  .login-popup-mobi{
    height: 35px;
    font-weight: bold;
    line-height: 33px;
    width: 100%;
    text-align: center;
    background-color: #fff;
  }
/*  .vichy-breadcrumb{
    position: absolute !important;
    top:9.5% !important;
    z-index: 99 !important;
    height: auto !important;
  }
  .breadcrumbs{
    width: 100%;
  }
  .vichy-breadcrumb-inactive{
    width: auto;
  }
  .breadcrumbs a{
    width: auto;
    text-align: left;
  }*/
  .paging a{
    width: 23px;
    height: 23px;
    background-size: 100%;
    margin-right: 10px;
  }
    .padding-top-class{
      /*padding-top: 20% !important;*/
      padding-right:10%;
    }
    .padding-top-class2{
      padding-top: 10%;
      width: 65%;
    }
    .width50{
      width: 49%;
    }
    .dk-btn{
      color: #fff !important;
      background: #3d82a6;
      padding:2% 8% 1.5%;
      font-size: 18px;
      text-transform: uppercase;
    }
    .dn-btn{
      color: #fff !important;
      background: #3d82a6;
      padding:2% 8% 1.5%;
      border: none;
      text-transform: uppercase;
    }
    .dn-fb{
      color: #337ab7 !important;
      font-size: 14px;
    }
    .dn-fb-img{
      width: 40px;
     /* padding-left: 2%;*/
    }

    .bg-li-menu-mobile1 a{
      background-color: transparent !important;
      color: #467ac2!important;
    }
    .bg-li-menu-mobile1 a:focus{
        color: #ffffff !important;
    }
    .over-breadrum{
      position: absolute;
      width: 100%;
      margin-left: 0 !important;
    }
    .vichy-search .box-search .box-input .search-comp .inputbox{
      width: 99.5% !important;
      height: 39px !important;
    }
    .vichy-search .box-search .box-input .search-comp .btn-search{
      border-bottom: none !important;
      border-top: none !important;
    }
    #navbar > .navbar-nav > li > a:focus,.sub-menu-a-margin1{
      color: #fff !important;
    }
    .vichy-breadcrumb{
      display: none;
    }
    #navbar{
      position: absolute !important;
      padding-right: 0!important;
    }
    .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse{
      margin-right: 0 !important;
      margin-left: 0 !important;
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
    .navbar-nav{
      margin: 0 !important;
    }
    .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse{
      max-height: 400px !important;
    }
    .product_item .product_star_review{
      width: 100% !important;
    }
    .product_item .product_star_review img{
      width: 20% !important;
    }

  .swiper-pagination-bullet{
    width:17px!important;
    height:17px!important;
  }
  .swiper-button-next, .swiper-button-prev{
    top: 61% !important;
    height: 20px!important;
  }
  .menu-catology-product{
    position: relative;
    z-index: -2 ;
  }
  .menu-catology-product .menu{
    position: absolute;
  }
}