/* ========================================
 *	$ =	CSS RESET
 * ======================================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;

	border: 0;
	outline: 0;
	font-weight: normal;
	font-style: inherit;
	font-family: inherit;
}
:focus {
	outline: 0;
}

a {
	cursor:pointer;
	outline: none;
	}
html {
	-webkit-font-smoothing: antialiased;
	}
body {
	font-family: arial,sans-serif; color: black; font-size: 11px;
}
ol, ul {
	list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
table tr {
	vertical-align: top;
	}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a:link, a:visited {
	color:#6e7f8a;
	text-decoration: none;
	}
a:hover {
	color:#475862;
	text-decoration: none;
}
a:focus {}

.clearfix {
	display: block;
}


/**CSS STRUCTURE**/
html{
	background:#f5faff;
}

@font-face {
    font-family: 'HelveticaNeueLight';
    src: url('../font/helveticaneue-light.eot');
    src: url('../font/helveticaneue-light.eot') format('embedded-opentype'),
         url('../font/helveticaneue-light.woff') format('woff'),
         url('../font/helveticaneue-light.ttf') format('truetype'),
         url('../font/helveticaneue-light.svg#HelveticaNeueLight') format('svg');
		 
	font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'helvetica_bold';
    src: url('../font/helveticabold.eot');
    src: url('../font/helveticabold.eot?#iefix') format('embedded-opentype'),
         url('../font/helveticabold.woff') format('woff'),
         url('../font/helveticabold.ttf') format('truetype'),
         url('../font/helveticabold.svg#helvetica_bold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'HelveticaLTStdLight';
    src: url('../font/helveticaltstd-light.eot');
    src: url('../font/helveticaltstd-light.eot') format('embedded-opentype'),
         url('../font/helveticaltstd-light.woff') format('woff'),
         url('../font/helveticaltstd-light.ttf') format('truetype'),
         url('../font/helveticaltstd-light.svg#HelveticaLTStdLight') format('svg');
}





body{
	min-width:1005px; /* bug ipad */
}

.container{
	position:relative;
	background:#fff;
}

.main-center {
	width: 1005px;
	margin: 0 auto;
}

/*CSS header*/

header.main {
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
/*	border-bottom: 1px solid #cad2da;*/
	background: url('../images/f_header_main.gif') left top repeat-x #fff;
}

header.main .main-center {
	width: 940px;
	height: 130px;
	padding: 15px 0 0 20px;
	position: relative;
}

.logo-vichy {
	padding: 15px 0 0 0;
	margin: 0 10px 0 0;
	width: 160px;
	float: left;
}

.logo-vichy a {
	display: block;
	height: 46px;
	text-indent: -5000px;
	background: url('../images/v_logo-vichy.gif') left bottom no-repeat;*/
}

.nav-vichy{
	float: left;
	width: 770px;
}

.nav-vichy .nav-vichy-top{
	padding-bottom: 40px;
	width: 100%;
}

.nav-vichy-top .nav-vichy-top-left{
	width: 210px;
	height: 30px;
	float: left;
	padding-left: 80px;
}

.nav-vichy-top .nav-vichy-top-left .search{
	width: 210px;
	position: relative;
}

.nav-vichy-top-left .search .inputbox {
	height: 31px;
	width: 178px;
	border: none;
	background: white;
	border-top: 1px solid #cad2da;
	border-left: 1px solid #cad2da;
	border-bottom: 1px solid #cad2da;
	float: left;
	outline: none;
	padding-left: 5px;
	padding-right: 5px;
}

.nav-vichy-top-left .search .btn-search {
	position: absolute;
	right: 0;
	border: none;
	width: 33px;
	height:35px;
	float: left;
	background: url('../images/bt-search.png') no-repeat;
	background-position: center;
	border-top: 1px solid #cad2da;
	border-right: 1px solid #cad2da;
	border-bottom: 1px solid #cad2da;
	cursor: pointer;
	outline: none;
}

.nav-vichy-top .nav-vichy-top-right{
 	float: right;
    height: 35px;
    min-width: 400px;
}

.nav-vichy-top-right .login{
	text-transform: uppercase;
	font-size: 14px;
	padding-top: 10px;
	margin-right:25px;
	width: 205px;
	height: 25px;
	background: url('../images/friend-icon.png') no-repeat; 
	background-position: left;
	font-weight: bold;
	float: left;
}

.nav-vichy-top-right .login .in{
	font-weight: bold;
	color:#6e8bb9;
	padding-left: 28px;
}

.nav-vichy-top-right .login .out{
	font-weight: bold;
	color:#414042
}

.nav-vichy-top-right .newsletter{
	padding-top: 10px;
	margin-right:25px;
	font-weight: bold;
	color: #414042;
	font-size: 14px;
	text-transform: uppercase;
	width: 110px;
	float: left;
	height: 25px;
	background: url('../images/nl-icon.png') no-repeat; 
	background-position: right;
}

.nav-vichy-top-right .social-link{
	width: 80px;
	float: left;
	height: 25px;
	padding-top: 2px;
}
.nav-vichy-top-right .social-link img{
	padding-left: 3px;
}


.nav-vichy .nav-vichy-bottom{
	width: 100%;
	height: 50px;
	float: left;
}



ul.vichy-menu{
	display: block;
	padding-top: 10px;
	float: right;
}

ul.vichy-menu li {
	float: left;
	margin: 0 0 0 43px;
}

ul.vichy-menu li a{
	color: #414042;
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'helvetica_bold';
	letter-spacing: .3px;
}

ul.vichy-menu li a:hover{
	padding-bottom: 5px;
	border-bottom: 3px solid #6e8cb6;
}

ul.vichy-menu li a.active {
	padding-bottom: 5px;
	border-bottom: 3px solid #6e8cb6;
}

.nav-vichy-bottom .vichy-link{
	min-width: 285px;
	height: 30px;
	float: right;
	margin-top:20px;
}

.vichy-link .basket{
	width: 100px;
	float: left;
    font-size: 14px;
    height: 20px;
    padding-left: 32px;
    padding-top: 5px;
    text-transform: uppercase;
	background: url('../images/basket.png') no-repeat;
	background-position: left;
}
.vichy-link .store{
	width: 120px;
	float: left;
    font-size: 14px;
    height: 21px;
    padding-left: 32px;
    padding-top: 5px;
    text-transform: uppercase;
	background: url('../images/pointer.png') no-repeat;
	background-position: left;
}

/*CSS sub header*/

div.sub-header {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #a0b8d2;
	background: url('../images/f_sub-header.gif') left 1px repeat-x #a9bdd0;
	box-shadow: 0 2px 2px rgba(0,0,0,.25);
}

div.sub-header {
	position: fixed;
	z-index: 90;
	top: 80px;
	width: 100%;
	height: 34px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #cad2da;
	background: url('../images/f_sub-header-inner.gif') left 1px repeat-x #f5faff;
}

/*CSS main content*/
div.main-container {
	min-height: 1000px;
	padding-top: 190px;
	clear: both;
	background: url('../images/f_main_generique.jpg') center 116px no-repeat fixed;
}

/*CSS breadcrumb*/
.breadcrumbs {
	height: 26px;
	line-height: 26px;
	background: #6e8bb9;
	color: #ffffff;
	text-transform: uppercase;
	position: fixed;
	top: 144px;
	width: 100%;
	z-index:10;
}

/*CSS footer*/
footer.main {
	width: 100%;
	clear: both;
	padding: 30px 0 22px 0;
	border-top: 1px solid #cad2da;
	background:#d9e7f4;
}

footer.main .top {
	overflow: hidden;
	padding-bottom: 40px;
}

footer.main .top .main-center {
	width: 945px;
	padding: 0 18px;
}

footer.main .top .str_cl {
	width: 220px;
	padding: 0 80px 0 10px;
	float: left;
}

footer.main h4 {
	font-size: 12px;
	color: #414042;
	padding: 15px 0 10px 0;
	margin: 0 0 10px 0;
	border-bottom: 1px solid #cad2da;
	text-transform: uppercase;
	font-weight: bold;
}

footer.main .top li {
	margin: 0 0 5px 0;
}

footer.main a {
	font-size: 12px;
}

footer.main .bottom {
	color: #6e7f8a;
}

footer.main .bottom .main-center {
	width: 945px;
	padding: 6px 16px;
	color: #414042;
	font-size: 12px;
}

/*Style for product*/
.product_item{
	width: 160px;
	position: relative;
	background: #fff;
	text-align: center;
}
.product_item .product_new{
	position: absolute;
	z-index: 9;
	width: 61px;
	height: 61px;
	line-height: 61px;
	top: 0;
	right: 0;
	color: #fff;
	background: url(../images/bg_what_new.png);
	text-transform:uppercase;
	font-weight: bold;
}
.product_item .product_range{
	margin-top: 20px;
	font-weight: bold;
	font-size: 16px;
}
.product_item .product_name{
	font-size: 14px;
	margin-top: 5px;
	text-transform: capitalize;
	min-height: 32px;
}
.product_item .product_skin_care{
	font-size: 12px;
	margin-top: 5px;
	min-height: 15px;
}
.product_item .product_star_review {
  margin: 25px auto 10px;
  overflow: hidden;
  width: 120px;
}

.item-112{
	display: none;
}

/*=======paging=========*/

.paging
{
	text-align: center;
	height: 13px;
}

.paging a
{
	width: 13px;
	height: 13px;
	background-color: #b1b3b6;
	text-indent: -99999px;
	display: inline-block;
	border-radius: 50%; 
	-moz-border-radius: 50%; 
	-webkit-border-radius: 50%;
	margin: 0 3px;
}
.paging a.active
{
	background-color: #6e8bb9;
}


/*======End paging=======*/
