.vichy-advice
{
	margin: 0 auto;
	width: 921px;
}

.content-left
{
	float: left;
	width: 236px;
	margin: 0 0 20px;
}

.wrap-content-right
{
	float: right;
	width: 672px;	
	margin: 0 0 20px;
}

.content-right
{
	float: right;
	width: 678px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow:0px 2px 2px #B6B7B9;
	background-color: #fff;
	padding: 3px;
	margin: 0 0 20px;
}
.content-right .banner{
	height: 234px;
}
.content-right .content-banner-left{
	width: 350px;
	margin: 50px 0px 0px 33px;
}
.content-right .content-banner-left-title{
	color: #6e8bb9;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 25px;
	line-height: 29px;
}
.content-right .content-banner-left-description{
	font-size: 16px;
	line-height: 16px;
	width: 350px;
	margin: 23px 0px 23px 0px;
}
.content-right .content-banner-left-description p{
	margin-bottom: 0;
}
.content-right .content-banner-left-button{
	font-weight: bold;
	text-transform: uppercase;
	font-size: 13px;
	color: #fff;
	width: 192px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	/* IE10+ */ 
	/*background-image: -ms-linear-gradient(bottom, #3d82a6 0%, #3d82a6 50%, #3f83a7 60%, #5e98b5 100%);
	
	/* Mozilla Firefox */ 
	/*background-image: -moz-linear-gradient(bottom, #3d82a6 0%, #3d82a6 50%, #3f83a7 60%, #5e98b5 100%);*/
	
	/* Opera */ 
	/*background-image: -o-linear-gradient(bottom, #3d82a6 0%, #3d82a6 50%, #3f83a7 60%, #5e98b5 100%);*/
	
	/* Webkit (Safari/Chrome 10) */ 
	/*background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #3d82a6), color-stop(50, #3d82a6), color-stop(60, #3f83a7), color-stop(100, #5e98b5));*/
	
	/* Webkit (Chrome 11+) */ 
	/*background-image: -webkit-linear-gradient(bottom, #3d82a6 0%, #3d82a6 50%, #3f83a7 60%, #5e98b5 100%);*/
	
	/* W3C Markup */ 
	/*background-image: linear-gradient(to top, #3d82a6 0%, #3d82a6 50%, #3f83a7 60%, #5e98b5 100%);*/
	/*-pie-background: linear-gradient(to top, #3d82a6 0%, #3d82a6 50%, #3f83a7 60%, #5e98b5 100%);*/
	/*behavior: url(PIE/PIE.php) ;*/
}
.menu-left li
{
	height: 32px;
	line-height: 32px;
}

.menu-left li a.active, .menu-left li a:hover
{
	background: url(/images/menu_left_active.png) repeat-x\0;
	/* IE10+ */ 
	background-image: -ms-linear-gradient(bottom, #234E91 0%, #234e91 50%, #295394 60%, #4C6FA5 100%);
	
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom, #234E91 0%, #234e91 50%, #295394 60%, #4C6FA5 100%);
	
	/* Opera */ 
	background-image: -o-linear-gradient(bottom, #234E91 0%, #234e91 50%, #295394 60%, #4C6FA5 100%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #234E91), color-stop(50, #234e91), color-stop(60, #295394), color-stop(100, #4C6FA5));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom, #234E91 0%, #234e91 50%, #295394 60%, #4C6FA5 100%);
	
	/* W3C Markup */ 
	background-image: linear-gradient(to top, #234E91 0%, #234e91 50%, #295394 60%, #4C6FA5 100%);
	/*-pie-background: linear-gradient(bottom, #234E91 0%, #234e91 50%, #295394 60%, #4C6FA5 100%);
	behavior: url(PIE/PIE.php) ;*/

	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#234E91', endColorstr='#4C6FA5',GradientType=1 ); /* IE6-9 */*/
    	/* For Internet Explorer 8 */
	/*-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#234E91, endColorstr=#4C6FA5,GradientType=1);*/
}

.menu-left li a
{
	color: #fff;
	/*font-family: 'helvetica_bold';*/
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	padding: 0 0 0 16px;
	display: block;
	background: url(/images/menu_left_inactive.png) repeat-x\0;
	/* IE10+ */ 
	background-image: -ms-linear-gradient(bottom, #6E8BB9 0%, #6E8BB9 50%, #7490BC 60%, #8ba2c7 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom, #6E8BB9 0%, #6E8BB9 50%, #7490BC 60%, #8ba2c7 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(bottom, #6E8BB9 0%, #6E8BB9 50%, #7490BC 60%, #8ba2c7 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #6E8BB9), color-stop(50, #6E8BB9), color-stop(60, #7490BC), color-stop(100, #8ba2c7));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom, #6E8BB9 0%, #6E8BB9 50%, #7490BC 60%, #8ba2c7 100%);
	/* W3C Markup */ 
	background-image: linear-gradient(to top, #6E8BB9 0%, #6E8BB9 50%, #7490BC 60%, #8ba2c7 100%);
	/*-pie-background: linear-gradient(bottom, #6E8BB9 0%, #6E8BB9 50%, #7490BC 60%, #8ba2c7 100%);
	behavior: url(PIE/PIE.php) ;*/

	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6E8BB9', endColorstr='#8ba2c7',GradientType=1 ); /* IE6-9 */*/
    	/* For Internet Explorer 8 */
	/*-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#6E8BB9, endColorstr=#8ba2c7,GradientType=1);*/
}

.menu-left li span.active, .menu-left li span:hover
{
	/* IE10+ */ 
	background-image: -ms-linear-gradient(bottom, #234E91 0%, #234e91 50%, #295394 60%, #4C6FA5 100%);
	
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom, #234E91 0%, #234e91 50%, #295394 60%, #4C6FA5 100%);
	
	/* Opera */ 
	background-image: -o-linear-gradient(bottom, #234E91 0%, #234e91 50%, #295394 60%, #4C6FA5 100%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #234E91), color-stop(50, #234e91), color-stop(60, #295394), color-stop(100, #4C6FA5));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom, #234E91 0%, #234e91 50%, #295394 60%, #4C6FA5 100%);
	
	/* W3C Markup */ 
	background-image: linear-gradient(to top, #234E91 0%, #234e91 50%, #295394 60%, #4C6FA5 100%);
	/*-pie-background: linear-gradient(bottom, #234E91 0%, #234e91 50%, #295394 60%, #4C6FA5 100%);
	behavior: url(PIE/PIE.php) ;*/

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#234E91', endColorstr='#4C6FA5',GradientType=1 ); /* IE6-9 */
    	/* For Internet Explorer 8 */
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#234E91, endColorstr=#4C6FA5,GradientType=1);
}

.menu-left li span
{
	color: #fff;
	/*font-family: 'helvetica_bold';*/
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	padding: 0 0 0 16px;
	display: block;
	
	/* IE10+ */ 
	background-image: -ms-linear-gradient(bottom, #6E8BB9 0%, #6E8BB9 50%, #7490BC 60%, #8ba2c7 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom, #6E8BB9 0%, #6E8BB9 50%, #7490BC 60%, #8ba2c7 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(bottom, #6E8BB9 0%, #6E8BB9 50%, #7490BC 60%, #8ba2c7 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #6E8BB9), color-stop(50, #6E8BB9), color-stop(60, #7490BC), color-stop(100, #8ba2c7));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom, #6E8BB9 0%, #6E8BB9 50%, #7490BC 60%, #8ba2c7 100%);
	/* W3C Markup */ 
	background-image: linear-gradient(to top, #6E8BB9 0%, #6E8BB9 50%, #7490BC 60%, #8ba2c7 100%);

	/*-pie-background-image: linear-gradient(bottom, #6E8BB9 0%, #6E8BB9 50%, #7490BC 60%, #8ba2c7 100%);
	behavior: url(PIE/PIE.php) ;*/
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6E8BB9', endColorstr='#8ba2c7',GradientType=1 ); /* IE6-9 */
    	/* For Internet Explorer 8 */
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#6E8BB9, endColorstr=#8ba2c7,GradientType=1);
	
}
.wrap_sub_menu_2{
	display: block;
	height: 125px;	
}
.sub_1 img{
	position: absolute;
	right: 910px;
	top: 150px;
}

a.sub_menu_a.current_menu{
	background-color: #f3f3f3;
}

.menu-left li:first-child a{
	padding: 0px;
}

.expand{
	height:156px !important;
}

.menu-left .sub_menu_2{
	background: #fff;
}

.menu-left .sub_menu_a
{
    color: #333;    
    padding-left:8px !important;     
    text-transform: none;
    font-size: 12px;
    font-weight:normal;
    height: 25px;
    line-height: 25px;
    background: #fff;
}
.vichy-advice .banner
{
	padding: 3px;
}

.vichy-advice .title
{
	margin: 0 auto;
	width: 420px;
	/*font-family: 'helvetica_bold';*/
	font-family: arial;
	font-weight: bold;
	color: #414042;
	font-size: 14px;
	padding: 0 0 0 30px;
}

.vichy-advice .question
{
	width: 532px;
	margin: 0 auto;
	padding: 20px 0 20px 32px;
}

.vichy-advice .question li
{
	margin: 0 0 15px;
}

.vichy-advice .question li a
{
	color: #6e8bb9;
	font-size: 14px;
	/*font-family: 'helvetica_bold';*/
	font-family: arial;
	font-weight: bold;
	/*background:url(../images/icon-plus.png) no-repeat 0 center;*/
	background:url(../images/plus_advice.png) no-repeat 0 center;
	display: block;
	padding: 0 0 0 40px;
	
}

.vichy-advice .question li.active a
{
	color: #3d96a6;
	/*background:url(../images/icon-subtract.png) no-repeat 0 center;*/
	background:url(../images/subtract_advice.png) no-repeat 0 center;
}

.vichy-advice .question li .answer
{
	display: none;
	padding: 15px 0 3px 40px;
}

.vichy-advice .question li:first-child .answer
{
	display: block;
}

.vichy-advice .question li.active .answer
{
	display: block;
}

.vichy-advice .question li .answer h3
{
	/*font-family: 'helvetica_bold';*/
	font-family: arial;
	font-weight: bold;
	color: #414042;
	font-size: 14px;
	margin: 0;
}
.question li p{
	margin-bottom: 0;
}
.vichy-advice .question li .answer p
{
	margin: 10px 0;
	font-size: 12px;
	color: #414042;
	line-height: 15px;
}


.vichy-advice .menu-locator
{
	background-color: #fff;
	border: 1px solid #e6e7e8;
	height: 303px;
	box-shadow:0px 2px 0px #b6b7b9;
	padding: 7px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	behavior: url(PIE/PIE.php) ;
}

.vichy-advice .menu-locator .locator
{
	height: 97px;
	overflow: hidden;
}

.vichy-advice .menu-locator h3
{
	text-align: center;
	/*font-family: 'helvetica_bold';*/
	font-family: arial;
	font-weight: bold;
	font-size: 16px;
	color: #414042;
	text-align: center;
	margin: 25px 0 12px;
	text-transform: uppercase;
}

.vichy-advice .menu-locator p
{
	font-size: 14px;
	color: #6e8bb9;
	text-align: center;
	padding: 0 5px;
	text-transform: uppercase;
}

.vichy-advice .menu-locator .btn
{
	background: -webkit-linear-gradient(0deg, rgba(61, 130, 166, 0.86) 5%, rgba(86, 146, 178, 0.9) 100%);
	background: -moz-linear-gradient(0deg, rgba(61, 130, 166, 0.86) 5%, rgba(86, 146, 178, 0.9) 100%);
	background: -ms-linear-gradient(0deg, rgba(61, 130, 166, 0.86) 5%, rgba(86, 146, 178, 0.9) 100%);
	background: -o-linear-gradient(0deg, rgba(61, 130, 166, 0.86) 5%, rgba(86, 146, 178, 0.9) 100%);
	/*behavior: url(PIE/PIE.php) ;*/
	width: 135px;
	height: 32px;
	text-align: center;
	margin: 15px auto;
	line-height: 32px;
}

.vichy-advice .menu-locator .btn a
{
	color: #FFFFFF;
    display: block;
    /*font-family: 'helvetica_bold';*/
    font-family: arial;
    font-weight: bold;
    font-size: 13px;
}

.vichy-advice .content-advice
{
	padding: 3px;
	background-color: #fff;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow:0px 2px 2px #B6B7B9;
	/*behavior: url(PIE/PIE.php) ;*/
	margin: 0 0 20px;
}
a, a:hover, a:link, a:visited{
	text-decoration: none;
}
@media(max-width: 992px){
	.vichy-advice,
	.wrap-content-right,
	.content-right .content-banner-left-description{
		width: 100%;
	}
	.content-right .content-banner-left{
		width: 100%;
		margin: 0;
		margin-top: -5%;
		  padding: 8% 5%;
	}
	.vichy-advice .question{
		width: 100%;
		padding: 8% 5%;
	}
	div.comming-soon{
		  width: 100%;
		  margin: 0;
		  font-size: 38px;
		  padding: 20% 5%;
	}
	.bg-li-menu-mobile {
	  background: url(../images/bg-sub-mobile.png) repeat-x;
	  padding-left: 15px;
	}
	.vichy-advice .banner{
		background-size: 100% !important;
	}
	.content{
		margin-top: 25% !important;
	}
	.content-right .content-banner-left-title{
		font-size: 21px;
		line-height: 23px;
		width: 55%;
	}
}
  