.wrap_advice_content{
	margin: 0 auto;
	width: 921px;
	overflow: hidden;
}

.vc_advice_main{
	background: #fff;
	width: 921px;
	height: 337px;
	padding: 3px;
	margin: 0 auto 20px;
	border: 1px solid #e6e7e8;	
}
.vc_advice_main .vc_advice_content{	
	width: 100%;
	height: 337px;		
}

.vc_advice_main .vc_advice_content .vc_advice_text{
	width: 368px ;
	height: 198px;
	padding-top: 40px;	
	margin-bottom: 26px;
	padding-left: 37px;
}	

.vc_advice_main .vc_advice_content .vc_advice_text .vc_advice_title{
	font-size: 30px;
	font-weight: bold;
	color: #6e8bb9;	
	padding-bottom: 19px;
}

.vc_advice_main .vc_advice_content .vc_advice_text .vc_advice_short_description{
	padding-bottom: 24px;
	font-size: 16px;
	color: #6e8bb9;
}

.vc_advice_main .vc_advice_content .vc_advice_text .vc_advice_full_description{
	font-size: 12px;
}

.vc_advice_main .vc_advice_content .vc_advice_start_button{
	background: url('../images/bg_btn_advice.png');
	font-weight: bold;
	color: #ffffff;
	display: inline-block;
	width: 200px;
	text-align: center;
	font-size: 12px;
	height: 32px;
	line-height: 32px;
	margin-left: 37px;
}	

.vichy-diagnostic{
	margin: 0 auto;
	min-height: 600px;
	width: 921px;
}
.vichy-diagnostic .wrapper-diagnostic{
	/*-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;*/
	float: left;	
	-webkit-border-radius: 5px;	
	-moz-border-radius: 5px;	
	border-radius: 5px;
	box-shadow:0px 2px 2px #B6B7B9;
	background-color: #fff;
	padding: 30px;
	margin: 0 0 12px;
}
.vichy-diagnostic .wrapper-diagnostic .content-diagnostic{
	width: 100%;
}
.vichy-diagnostic .wrapper-diagnostic .note{
	font-size: 12px;
	font-size: bold;
	margin-bottom: 20px;
}
.vichy-diagnostic .wrapper-diagnostic .cate-diagnostic h2{
	color: #6e8bb9;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.diagnostic{
	float:left;
	width: 860px;
	height:690px;
}
.diagnostic .diagnostic-top{
	height:40%;
}
.diagnostic .diagnostic-top .diagnostic-icon{
	padding-top: 50px;
	text-align: center;
}
.diagnostic .diagnostic-cen{
	height: 40%;
	margin: 0 auto;
	width: 490px;
}
.diagnostic .diagnostic-cen .diagnostic-question{
	width: 100%;
}
.diagnostic .diagnostic-cen .diagnostic-question .number{
	float: left;
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding-top: 14px;
	width: 53px;
	height: 53px;
	margin-right: 10px;
	background: url('../images/diagnostics/circle.png') no-repeat;
}
.diagnostic .diagnostic-cen .diagnostic-question .question{
	color: #234e91;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	padding-top: 3px;
	line-height: 22px;
}
.diagnostic .diagnostic-cen .diagnostic-question .question .note-multi-answer{
	float: left;
	font-size: 14px;
	font-weight: normal;
	text-transform: lowercase;
}
.diagnostic .diagnostic-cen .answer{
	float: left;
	margin-left: 62px;
	font-size: 14px;
}
.diagnostic .diagnostic-bot{
	height: 20%;
}
.diagnostic .diagnostic-bot .diagnostic-next{
	text-align: center;
}

.add_answer {
	float: left;
	width: 212px;
	height: 40px;
	margin-bottom: 10px;
}
.image_common{
	padding-left: 25px;
	height: 30px;
}
.image_off{
	background: url(../images/diagnostics/image_off.png) no-repeat;
}
.image_on{
	background: url(../images/diagnostics/image_on.png) no-repeat;
}

.image_off_check{
	background: url(../images/diagnostics/image_off_check.png) no-repeat;
}
.image_on_check{
	background: url(../images/diagnostics/image_on_check.png) no-repeat;
}




.diagnostic-result{
	float:left;
	width: 860px;
	line-height: 22px;
	/*height: 3232px;*/
}
.diagnostic-result .header-result{
	float: left;
	width: 100%;
	height: 7%;
}
.diagnostic-result .content-result{
	float: left;
	width: 100%;
	height: 60%;
}
.diagnostic-result .footer-result{
	float: left;
	width: 100%;
	/*height: 20%;*/
	height: 350px;
}
.diagnostic-result .header-result .icon-result{
	margin: 30px 0px 20px 0px;
	text-align: center;
}
.diagnostic-result .header-result .title-result{
	color: #234e91;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.diagnostic-result .header-result .text-result{
	color: #234e91;
	font-size: 14px;
	text-align: center;
	margin-bottom: 20px;
}

.diagnostic-result .content-result .top-section{
	margin: 0 auto;
	color: #ffffff;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	padding-top: 7px;
	text-transform: uppercase;
	position: relative;
	width: 269px;
	height: 35px;
	background: url(../images/diagnostics/background_part.png) no-repeat center;
}
.diagnostic-result .content-result .top-section-devider{
	margin-bottom: 25px;
	color: #ffffff;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	padding-top: 7px;
	text-transform: uppercase;
	position: relative;
	/*width: 269px;*/
	height: 35px;
	background: url(../images/diagnostics/bg_section_devider.png) no-repeat center;
}
.diagnostic-result .content-result .section-1{
	float: left;
	width: 100%;
}
.section-1 .section-1-left{
	float: left;
	width: 47%;	
}
.section-1 .section-1-right{
	float: left;
	width: 45%;
	padding-top: 10px;
}

.section-1 .section-1-cen{
	float: left;
	width: 5%;
	padding-top:14px;
}

.section-1 .section-1-left .question{
	float: left;
	width: 100%;
	font-size: 12px;
	margin-bottom: 30px;
}
.section-1 .section-1-left .question .icon-small-question{
	float: left;
	text-align: center;
	width: 130px;
}
.section-1 .section-1-left .question .text-question{
	float: left;
	font-weight: bold;
	width: 60%;
	margin-top: 18px;
}
.section-1 .section-1-left .question .text-answer{
	float: left;
	width: 60%;
	margin-top: 10px;
}

.section-1 .section-1-right .column-1{
	float: left;
	width: 62%;
	font-size: 12px;
}
.section-1 .section-1-right .column-2{
	float: left;
	width: 30%;
}
.section-1 .section-1-right .column-1 .column-1-title{
	color: #234e91;
	font-weight: bold;
	float: left;
	width: 100%;
	margin-bottom: 4px;
}
.section-1 .section-1-right .column-1 .column-1-myskin{
	color: #234e91;
	float: left;
	width: 100%;
	margin-bottom: 10px;
}
.section-1 .section-1-right .column-1 .column-1-step{
	color: #6b9608;
	font-weight: bold;
	float: left;
	width: 100%;
	margin-bottom: 5px;
}
.section-1 .section-1-right .column-1 .column-1-advice{
	color: #234e91;	
	float: left;
	width: 100%;
	font-weight: bold;
	margin-bottom: 7px;
}
.section-1 .section-1-right .column-1 .column-1-link a{
	color: #ee0c61;
	line-height: 20px;
	float: left;
	width: 100%;	
	margin-bottom: 5px;
	text-decoration: underline;
	text-transform: uppercase;
}

.buy_now{
	float: left;
	width: 119px;
	height: 29px;
	color: #ffffff;
	font-weight: bold;
	cursor: auto;
	padding: 3px 0px 0px 46px;
	margin-top: 10px;
	margin-bottom: 10px;
	background: url(../images/diagnostics/buy_now.png) no-repeat;
}
.divider{
	float: left;	
	width: 100%;
	text-align: center;
	/*background: url(../images/diagnostics/dotted.png) no-repeat;*/
	margin-bottom: 30px;
	
}

.diagnostic-result .content-result .section-2{
	float: left;
	width: 100%;
	margin-top: -5px;
}
.diagnostic-result .content-result .section-2-row{
	float: left;
	width: 100%;
	font-size: 14px;
	margin-bottom: 15px;	
}
.section-2-row .section-2-left{
	float: left;
	width: 40%;	
}
.section-2-row .section-2-right{
	float: left;
	width: 60%;
}
.section-2-row .section-2-left-icon{
	float: left;
	text-align: center;
	width: 100%;	
}
.section-2-row .section-2-right .section-2-right-ques{
	float: left;
	font-weight: bold;
	width: 92%;
	margin-bottom: 4px;
}
.section-2-row .section-2-right .section-2-right-ans{
	float: left;
	width: 100%;
	margin-bottom: 15px;
}
.section-2-row .section-2-right .section-2-advice{
	float: left;
	width: 90%;
	line-height: 22px;
	color: #234e91;
	text-align: justify;
	margin-bottom: 15px;
}
.divider_dot{
	float: left;
	width: 94%;
	margin-left: 25px;
	border-top: dotted 1px #000;
}


.diagnostic-result .content-result .section-end-row-1{
	float: left;
	width: 100%;
	font-size: 14px;
	margin-top: -10px;
}
.section-end-row-1 .section-end-left{
	float: left;
	width: 43%;	
}
.section-end-row-1 .section-end-right{
	float: left;
	width: 57%;
}
.section-end-row-1 .left-col-1{
	float: left;
	width: 55%;
	padding: 20px;
}
.section-end-row-1 .left-col-2{
	float: left;
	text-align: left;
	width: 30%;	
}
.section-end-row-1 .left-col-1 .left-col-1-ques{
	float: left;
	font-weight: bold;
	width: 100%;
	margin-bottom: 7px;
}
.section-end-row-1 .left-col-1 .left-col-1-ans{
	float: left;
	width: 100%;
	margin-bottom: 20px;
}
.section-end-row-1 .left-col-1 .left-col-1-step{
	color: #6b9608;
	font-weight: bold;
	float: left;
	width: 100%;
	margin-bottom: 10px;
}
.section-end-row-1 .left-col-1 .left-col-1-advice{
	color: #234e91;	
	float: left;
	width: 100%;
	margin-bottom: 10px;
}
.section-end-row-1 .left-col-1 .left-col-1-link a{
	color: #ee0c61;	
	line-height: 20px;
	float: left;
	width: 100%;	
	margin-bottom: 10px;
	text-decoration: underline;
	text-transform: uppercase;
}

.section-end-row-2{
	float: left;
	margin-top: -7px;
	padding: 0px 20px 20px 130px;
}


.footer-result .btn_bottom{	
	width: 45%;
	margin: 0 auto;
}
.footer-result .print{
	float: left;
	width: 140px;
	height: 35px;
	color: #ffffff;
	font-weight: bold;
	text-transform: uppercase;
	cursor: auto;
	padding: 8px 0px 0px 55px;
	/*margin-right: -30px;*/
	background: url(../images/diagnostics/icon_print.png) no-repeat;
}
.footer-result .store_system{
	float: left;
	width: 206px;
	height: 35px;
	color: #ffffff;
	font-weight: bold;
	margin-left: 5%;
	text-transform: uppercase;
	cursor: auto;
	padding: 8px 0px 0px 10px;
	background: url(../images/diagnostics/icon_system_store.png) no-repeat;
}
.store_system a{
	color: #ffffff;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
}
.store_system a:hover{
	color: #ffffff;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
}
.print a{
	color: #ffffff;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
}
.print a:hover{
	color: #ffffff;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
}
.buy_now a{
	color: #ffffff;
	font-weight: bold;
	cursor: pointer;
}
.buy_now a:hover{
	color: #ffffff;
	font-weight: bold;
	cursor: pointer;
}
.diagnostic_item{
	float: left;	
	width: 100%;
}

.concern{
	width: 349px;
	height: 42px;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: url(../images/diagnostics/icon_dropdown.png) no-repeat;
}

.diagnostic .diagnostic-cen .answer-end{
	float: left;
	font-size: 14px;
	margin-top: 20px;
	width: 130%;
}
.diagnostic .diagnostic-cen .answer-end strong{
	color: #414042;
	float: left;
	width: 160px;
}
.diagnostic .diagnostic-cen .answer-end select{
	float: left;
	margin: -15px 0px 0px 30px;
}


.warning-login{
	float: left;
	width: 860px;
	color: #FF2200;
	font-size: 14px;
}

.warning_skin_diagnostic{
	float: left;
	width: 860px;
	font-size: 14px;	
}
.warning_skin_diagnostic a{
	color: #234e91;
	font-weight: bold;
}
@media(max-width: 992px){
	.vichy-diagnostic,.diagnostic{
		width: 100%;
	}
	.vichy-diagnostic .wrapper-diagnostic{
		width: 100%;
		padding: 5% 0 0;
	}
	.note{
		padding-left: 3%;
	}
	.vichy-diagnostic .wrapper-diagnostic .cate-diagnostic h2{
		padding-left: 3%;
		font-size: 18px;
		font-weight: bold;
	}
	.diagnostic{
		position: relative;
		background-size:100% 100% !important;
		height: 455px;
	}
	.diagnostic .diagnostic-top .diagnostic-icon{
		padding-top: 5%;
	}
	.diagnostic .diagnostic-top .diagnostic-icon img{
		width: 30%
	}
	.diagnostic .diagnostic-cen{
		width: 100%;
		position: absolute;
		top:20%;
		/*margin-left: 10%;*/
		padding: 0 8%;
		height: auto;
	}
	.diagnostic .diagnostic-cen .answer-end select{
		margin: 0;
	}
	.diagnostic .diagnostic-cen .diagnostic-question{
		position: relative;
	}

	.diagnostic .diagnostic-cen .diagnostic-question .number{
		background-size: 100%;
		/*position: absolute;
		top: -100%;*/
		width: 43px;
		height: 43px;
		padding-top: 3%;
		font-size: 17px;
	}
	.diagnostic .diagnostic-cen .answer-end, .concern{
		width: 98% !important;
	}
	.concern{
		background-size: 100% !important;
	}
	.diagnostic .diagnostic-cen .diagnostic-question .question p{
		width: 99%;	
		min-height: 44px;
		line-height: 18px;
		padding-bottom: 3% !important;
	}
	.diagnostic .diagnostic-cen .answer{
		margin-left: 0%;
	}
	.diagnostic .diagnostic-bot{
		width: 100%;
		height: auto;
		position: absolute;
		bottom: 2%;
	}
	.add_answer{

		height: auto;
	}
	.vichy-diagnostic{
		height: auto !important;
		min-height: 0;
	}
	.diagnostic-result{
		width: 100%;
	}
	.diagnostic-result .content-result .top-section,
	.diagnostic-result .content-result .top-section-devider{
		padding-top: 0%;
		  margin: 0% auto 10%;
        font-size:13px;
	}
	.section-1 .section-1-left,.divider img,
	.section-2-row .section-2-left,
	.section-2-row .section-2-right,
	.section-2-row .section-2-right .section-2-advice,
	.section-end-left,.section-end-right,
	.section-end-row-1 .section-end-left,
	.section-end-row-1 .section-end-right{
		width: 100%;
	}
	.section-1 .section-1-left .question .icon-small-question{
		width: 30%;
	}
	.section-1 .section-1-left .question .text-question{
		width: 68%;
		margin-top: 0;
	}
	.section-1 .section-1-left{
		padding-left: 5%;
	}
	.section-1 .section-1-right{
		width: 95%;
	}
	.section-2-row .section-2-left-icon img{
		width: 50%;
	}
	.section-2-row .section-2-right{
		padding: 5%;
	}
	.section-end-row-1 .left-col-1{
		  width: 70%;
		  padding-right: 0;
	}
	.section-end-row-1 .left-col-2{
		  width: 25%;
 			 margin-top: 25%;
 			  margin-bottom: 15%;
	}
	.section-end-row-1 .left-col-2 img,.section-1 .section-1-right .column-2 img {
		width: 120%
	}
	.section-end-row-2{
		padding:0;
	}
	.btn_bottom{
		display: none;
	}
	.footer-result{
		padding-top: 0 !important;
		height: 200px !important;
		background-size: 100% 100% !important;
	}
	.buy_now a{
		width: 25%;
	}
	.buy-online a img{
		width: 100% !important;
		height: auto !important;
	}
    .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus{
         /*outline: thin dotted;*/
         outline: 0!important;
         outline-offset: 0!important;
    }
    .collaspe-sign{
        width:7%;
        float:right;
    }
}