.wrap_step {
  clear: both;
  height: auto;
  margin-bottom: 30px;
  overflow: hidden;
  padding: 20px;
  width: 100%;
}
.button_step {
  border: 1px solid;
 /* margin: 0 auto;*/
  padding: 5px;
  text-align: center;
  width: 171px;
}
.step_product {
  overflow: hidden;
}
.step_product_item {
  margin: 0 auto;
  overflow: hidden;
  padding-top: 20px;
  width: 150px;
}
.item-name {
  margin-bottom: 20px;
  text-align: center;
}