/*.research{
	
}*/
.pagi_1{
	padding: 48px;
}
.item
{
	padding: 3px;
	width: 290px;
	height: auto;
	border-radius: 5px;
	border: solid 1px #ccc;
	float: left;
	margin-right: 12px;
	margin-bottom: 20px;
}
.no_margin_right
{
	margin-right: 0px;
}

.item_img 
{
	position: relative;
	width: 284px;
	height: 238px;
	cursor: pointer;
}
.item_img img
{
	width: 284px;
	height: 238px;
}
.item_text
{
	position: absolute;
	padding: 20px 10px;
	width: 100%;
	background: rgba(255,255,255,0.8);
	background: url('../images/Vichy_Home_031.png') repeat\9;
	bottom: 0px;
	left:0px;
	text-align: justify;
	height: 13px;
	overflow: hidden;
	
}

.title_text
{
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: #6e8bb9;
	font-size: 11px;
	font-family: Arial,'helvetica_bold';
	margin-bottom: 12px;
}
.item .content_text
{
	color: #666;
	font-size: 12px;
	line-height: 15px;
	font-family: Arial,'helvetica_bold';
	visibility: hidden;
}
.item:hover .content_text{
	visibility: visible;
}
.pagi_2
{
	width:100%;
	background: url(../images/bg_reseach.png) no-repeat center;
	min-height: 620px;
	padding: 3px;
}
.about_text
{
	/*float: left;*/
	width: 310px;
	font-family:arial,sans-serif;
	/*margin: 36px 0px 25px 36px;*/
	margin: 5px 0 7px 36px;
}
.title_text_2
{
	font-size: 20px;
	color: #6e8bb9;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 17px;
}
.content_text_2
{
	font-size: 12px;
	line-height: 18px;
}
.research_pagi{
	width: 30px;
	margin: 0 auto;
}
.research_pagi a{
	background-image: url(../button_jcaurosel/bt.png);
	width: 13px;
	height: 13px;
	display: inline-block;
}
.research_pagi a.active{
	background-image: url(../button_jcaurosel/ac.png);
}
@media(max-width: 992px){
	.pagi_1{
		padding:10% !important;
		position: relative;
	}
	.research{
		background: #e8f2fb; /* Old browsers */
		background: -moz-linear-gradient(left,  #e8f2fb 0%, #ffffff 50%, #e8f2fb 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,#e8f2fb), color-stop(50%,#ffffff), color-stop(100%,#e8f2fb)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  #e8f2fb 0%,#ffffff 50%,#e8f2fb 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  #e8f2fb 0%,#ffffff 50%,#e8f2fb 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  #e8f2fb 0%,#ffffff 50%,#e8f2fb 100%); /* IE10+ */
		background: linear-gradient(to right,  #e8f2fb 0%,#ffffff 50%,#e8f2fb 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8f2fb', endColorstr='#e8f2fb',GradientType=1 ); /* IE6-9 */

	}
	.item,.item_img,.item_img img{width: 100% !important}
	.pagi_2{
		background: url(../images/bg_reseach2.png) no-repeat center !important;
		width: 100% !important;
		min-height: 600px;
		height: auto;
		position: relative;
		background-position: 50% 0%! important;
		background-size: 100% 46% !important;
		padding-left: 5%;
		padding-right: 5%;
	}
	.about_text{
		  width: 100% !important;
		  padding: 0 6% !important;
		  margin: 6% 0% 5% !important;
	}
	.title_text_2{
		width: 60% !important;
		font-size: 23px !important;
		margin-bottom: 10% !important;
	}
	.arrow_pagi{
		width: 80%;
		position: absolute;
		top: 47%;
	}
	.arrow_pagi a:first-child{
		width: 20px;
		height: 30px;
		float: left;
		display: inline-block;
		z-index: 999;
		margin-left: -10%;
		background-image:  url(../images/arrow-left.png);
	}
	.arrow_pagi a:last-child{
		width: 20px;
		height: 30px;
		float: right;
		z-index: 999;
		margin-right: -10%;
		display: inline-block;
		background-image:  url(../images/arrow-right.png);
	}
	.arrow_pagi2{
		width: 90%;
		position: absolute;
		top: 47%;
	}
	.arrow_pagi2 a:first-child{
		width: 20px;
		height: 30px;
		float: left;
		display: inline-block;
		z-index: 999;
		margin-left: -3%;
		background-image:  url(../images/arrow-left.png);
	}
	.arrow_pagi2 a:last-child{
		width: 20px;
		height: 30px;
		float: right;
		z-index: 999;
		margin-right: -3%;
		display: inline-block;
		background-image:  url(../images/arrow-right.png);
	}
	.research_pagi a{
		width: 20px;
		height: 20px;
		background-size: 100%;
	}
	.research_pagi{
		width: 45px;
	}
}