.reset, .reset-confirm, .reset-complete{
	margin: 0 auto;
	overflow: hidden;
	width: 940px;
}
.reset_box, .reset-confirm-box, .reset-complete-box{
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 2px #b6b7b9;
	margin: 0 0 20px;
	overflow: hidden;
	padding: 3px 60px 60px;
	position: relative;
	font-size: 13px;
}
.reset_box_top{
	background: url("../images/bg_sign_up.png") no-repeat;
	color: #6e8bb9;
	font-size: 17px;
	font-weight: normal;
	height: 68px;
	margin-bottom: 28px;
	padding: 100px 0 0;
	width: 846px;
}
.reset_box h1, .reset-confirm-box h1, .reset-complete-box h1{
	color: #97abce;
}
.reset_box fieldset, .reset-confirm-box fieldset, .reset-complete-box fieldset{
	border-top: 1px solid #ebebeb;
	margin: 0 auto;
	padding-left: 40px;
	padding-top: 30px;
	width: 708px;
}
.reset_box p, .reset_box label, .reset_box input, .reset_box h1, .reset-confirm-box p, .reset-confirm-box label, .reset-confirm-box input, .reset-confirm-box h1, .reset-complete-box p, .reset-complete-box label, .reset-complete-box input, .reset-complete-box h1{
	margin-bottom: 20px;
}
.reset-confirm-box dt, .reset-complete-box dt{
	width: 170px;
	float: left;
	line-height: 25px;
}
.reset-confirm-box dd, .reset-complete-box dd{
	width: 385px;
	float: left;
}
.reset_box label, .reset-confirm-box label, .reset-complete-box label{
	font-weight: bold;
	display: block;
}
.reset_box input, .reset-confirm-box input, .reset-complete-box input {
	width: 345px;
	height: 25px;
}
.reset_box button[type=submit], .reset-confirm-box button[type=submit], .reset-complete-box button[type=submit]{
	background: #5692b2;
	border: 1px solid #649bb8;
	color: #ffffff;
	cursor: pointer;
	font-weight: bold;
	height: 30px;
	min-width: 70px;
	text-transform: uppercase;
}
.reset_box .wrap_button{
	margin: 0 auto;
	padding-left: 40px;
	width: 708px;
}
@media(max-width: 992px){
	.reset, .reset-confirm, .reset-complete,
	.reset_box input, .reset-confirm-box input, .reset-complete-box input{
		width: 100%;
	}
	.reset_box, .reset-confirm-box, .reset-complete-box{
		padding:3px 5% 5%;
	}
	.reset_box_top{
		width: 100%;
		padding: 20% 0 0;
  		background-size: 100%;
  		height: 90px;
  		font-size: 14px;
	}
	.reset_box h1, .reset-confirm-box h1, .reset-complete-box h1{
		text-align: center;
 		font-size: 25px;
	}
	.reset_box fieldset, .reset-confirm-box fieldset, .reset-complete-box fieldset{
		padding-left: 0%;
		padding-top: 5%;
  		width: 100%;

	}
	.reset_box .wrap_button{
		width: 100%;
		padding: 0;
	}

}