.wrap_advice_content{
	margin: 0 auto;
	width: 931px;
	overflow: hidden;
}

.wrap_advice_content_left {
	float: left;
	margin-right: 12px;
	width: 700px;
}

.vc_advice_main{
	background: #fff;
	width: 686px;
	height: 165px;
	padding: 3px;
	margin-bottom:12px;
	border: 1px solid #e6e7e8;	
}
.vc_advice_main .vc_advice_content{
	height: 166px;
}

.vc_advice_main .vc_advice_content .vc_advice_text{
	width: 325px ;
	/*height: 198px;*/
	padding-top: 35px;	
	/*margin-bottom: 26px;*/
	padding-left: 26px;
}	

.vc_advice_main .vc_advice_content .vc_advice_text .vc_advice_title{
	font-size: 20px;
	font-weight: bold;
	color: #6e8bb9;	
	padding-bottom: 19px;
	text-transform: uppercase;
}

.vc_advice_main .vc_advice_content .vc_advice_text .vc_advice_short_description{
	/*padding-bottom: 24px;*/
	font-size: 12px;
	color: #6e8bb9;
}

.vc_advice_main .vc_advice_content .vc_advice_text .vc_advice_full_description{
	font-size: 12px;
}

.vc_advice_main .vc_advice_content .vc_advice_start_button{
	background: url('../images/bg_btn_advice.png');
	font-weight: bold;
	color: #ffffff;
	display: inline-block;
	text-transform: uppercase;
	width: 200px;
	text-align: center;
	font-size: 12px;
	height: 32px;
	line-height: 32px;
	margin-left: 37px;
}	
.wrap_advice_content_right{
	float: left;
	width: 214px;
}
.wrap_advice_content_right .buy_product{
	padding: 3px;
	height: 256px;
	background: #ffffff;
}
.wrap_advice_content_right .bottom_buy_product_online{
	background: url(../images/Vichy_Advice_Dianostic.jpg) no-repeat;
	height: 195px;
	text-align: center;
	padding-top: 20px;
}
.wrap_advice_content_right .top_buy_product_online{
	background: url(../images/bg_buy_advice.jpg) repeat-x;
	height: 57px;
	color: #ffffff;
    font-weight: bold;
    font-size: 17px;
    line-height: 57px;
    text-align: center;
    margin-bottom: 4px;
}
.wrap_advice_content_right .buy_product_inner_1 {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
}
.wrap_advice_content_right .buy_product_inner_offline{
	background: url(../images/bg_btn_advice.png) no-repeat;
	display: block;
	height: 32px;
	color: #ffffff;
	text-align: center;
	line-height: 32px;
	width: 134px;
	margin: 0 auto 10px;
}
.wrap_advice_content_right .myskin{
	color: #adbdd7;
	font-size: 20px;
	font-weight: bold;
	margin-top: 17px;
	text-align: center;
}
.wrap_advice_content_right .myskin_desc{
	text-align: center;
	font-size: 12px;
	color: #a09fa0;
	width: 175px;
	margin: 5px auto 0;
}
.wrap_advice_content_right .myskin_btn{
	background: url(../images/bg_btn_advice.png) no-repeat;
	height: 32px;
	color: #ffffff;
	text-align: center;
	line-height: 32px;
	width: 175px;
	margin: 15px auto 0;
}