.press_corner{
	padding: 40px;
	overflow: hidden;
}
.item
{
	padding: 7px;
	width: 284px;
	height: 238px;
	border-radius: 5px;
	border: solid 1px #ccc;
	float: left;
	margin-right: 16px;
	margin-bottom: 20px;
}
.no_margin_right
{
	margin-right: 0px;
}

.item_img 
{
	position: relative;
	width: 284px;
	height: 238px;
	cursor: pointer;
}
.item_img img
{
	width: 284px;
	height: 238px;
}
.item_text
{
	position: absolute;
	padding: 20px 10px;
	width: 264px;
	background: rgba(255,255,255,0.8);
	background: url('../images/Vichy_Home_031.png') repeat\9;
	bottom: 0px;
	left:0px;
	text-align: justify;
	height: 30px;
	overflow: hidden;
	
}

.title_text
{
	font-weight: bold;
	text-transform: uppercase;
	color: #6e8bb9;
	font-size: 13px;
	font-family: Arial,'helvetica_bold';
	margin-bottom: 20px;
	min-height: 30px;
}
.content_text
{

	color: #666;
	font-size: 12px;
	font-family: Arial,'helvetica_bold';
}