.content-left
{
	float: left;
	width: 220px;
	margin: 0 0 20px;
}

.content-right
{
	float: right;
	width: 700px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow:0px 2px 2px #B6B7B9;
	background-color: #fff;
	margin: 0 0 20px;
}

.menu-left li
{
	
	
	height: 32px;
	line-height: 32px;
	
}

.menu-left li.active a, .menu-left li a:hover
{
	background: url(../images/menu_left_active.png) no-repeat\9;
	/* IE10+ */ 
	background-image: -ms-linear-gradient(bottom, #234E91 0%, #234e91 50%, #295394 60%, #4C6FA5 100%);
	
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom, #234E91 0%, #234e91 50%, #295394 60%, #4C6FA5 100%);
	
	/* Opera */ 
	background-image: -o-linear-gradient(bottom, #234E91 0%, #234e91 50%, #295394 60%, #4C6FA5 100%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #234E91), color-stop(50, #234e91), color-stop(60, #295394), color-stop(100, #4C6FA5));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom, #234E91 0%, #234e91 50%, #295394 60%, #4C6FA5 100%);
	
	/* W3C Markup */ 
	background-image: linear-gradient(to top, #234E91 0%, #234e91 50%, #295394 60%, #4C6FA5 100%);

	
   	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#234E91', endColorstr='#4C6FA5',GradientType=1 );*/ /* IE6-9 */
    	/* For Internet Explorer 8 */
	/*-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#234E91, endColorstr=#4C6FA5,GradientType=1);*/
}

.menu-left li a
{
	color: #fff;
	/*font-family: 'helvetica_bold';*/
	font-family: arial;
	font-weight: bold;
	font-size: 13px;
	padding: 0 0 0 7px;
	display: block;
	background: url(../images/menu_left_inactive.png) no-repeat\9;
	height: 32px;
	line-height: 32px;
	/* IE10+ */ 
	background-image: -ms-linear-gradient(bottom, #6E8BB9 0%, #6E8BB9 50%, #7490BC 60%, #8ba2c7 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom, #6E8BB9 0%, #6E8BB9 50%, #7490BC 60%, #8ba2c7 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(bottom, #6E8BB9 0%, #6E8BB9 50%, #7490BC 60%, #8ba2c7 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #6E8BB9), color-stop(50, #6E8BB9), color-stop(60, #7490BC), color-stop(100, #8ba2c7));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom, #6E8BB9 0%, #6E8BB9 50%, #7490BC 60%, #8ba2c7 100%);
	/* W3C Markup */ 
	background-image: linear-gradient(to top, #6E8BB9 0%, #6E8BB9 50%, #7490BC 60%, #8ba2c7 100%);

	
    	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6E8BB9', endColorstr='#8ba2c7',GradientType=1 );*/ /* IE6-9 */
    	/* For Internet Explorer 8 */
	/*-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#6E8BB9, endColorstr=#8ba2c7,GradientType=1);*/
}


.brand-history
{
	margin: 0 auto;
	width: 940px;
	overflow: hidden;
}

.brand-history .content
{
	padding: 0 0 20px;
	overflow: hidden;
}

.list-brand-history 
{
	padding: 20px 0 0 21px;
}

.list-brand-history:after
{
	display: block;
	clear: both;
	content: "";
}

.list-brand-history li
{
	float: left;
	width: 206px;
	height: 400px;
	margin: 0 20px 20px 0;
}

.list-brand-history li .image
{
	width: 206px;
}

.list-brand-history li h3
{
	width: 178px;
	/*font-family: 'helvetica_bold';*/
	font-weight: bold;
	font-family: arial;
	color: #6e8bb9;
	font-size: 16px;
	line-height: 120%;
	margin: 12px auto 15px;	
	min-height: 37px;
	height: 37px;
}

.list-brand-history li h3 a
{
	color: #6e8bb9;
	min-height: 37px;
	height: 37px;
}
.list-brand-history .article-description{
	overflow: hidden;
	min-height: 53px;
	height: 53px;
}

.list-brand-history li p
{
	width: 178px;
	margin: auto;
	/*font-family: 'HelveticaNeueLight';*/
	font-family: arial;
	font-size: 12px;
	color: #414042;
	line-height: 150%;	
}
.list-brand-history .view-more
{
	width: 100px;
	height: 32px;
	background-color: #3d82a6;
	text-align: center;
	line-height: 32px;
	margin: 20px auto auto;
	background: -webkit-linear-gradient(0deg, rgba(61, 130, 166, 0.86) 5%, rgba(86, 146, 178, 0.9) 100%);
	background: -moz-linear-gradient(0deg, rgba(61, 130, 166, 0.86) 5%, rgba(86, 146, 178, 0.9) 100%);
	background: -ms-linear-gradient(0deg, rgba(61, 130, 166, 0.86) 5%, rgba(86, 146, 178, 0.9) 100%);
	background: -o-linear-gradient(0deg, rgba(61, 130, 166, 0.86) 5%, rgba(86, 146, 178, 0.9) 100%);
}

.list-brand-history .view-more a
{
	color: #fff;
	text-transform: uppercase;
	font-size: 13px;
	/*font-family: 'helvetica_bold';*/
	font-family: arial;
	font-weight: bold;
	display: block;
}
.press-corner
{
	margin: 0 auto;
	width: 940px;
}


.press-corner .content
{
	padding: 0 0 20px;
	/*overflow: hidden;*/
}
.press-corner .list-press-corner
{
	padding: 20px 20px 0 28px;
	width: 665px;
}

.press-corner .list-press-corner:after
{
	display: block;
	content: "";
	clear: both;
}

.list-press-corner li
{
	padding: 7px;
	width: 297px;
	border: 1px solid #e6e7e8;
	height: 403px;
	box-shadow:0px 2px 0px #b6b7b9;
	float: left;
	background-color: #fff;
	margin: 0 18px 18px 0;
}

.list-press-corner .image
{
	widdth: 272px;
	height: 160px;
}

.list-press-corner .social
{
	padding: 0 0 0 15px;
	margin: 19px 0 0;
}

.list-press-corner .title
{
	/*font-family: 'HelveticaNeueLight';*/
	font-family: arial;
	font-size: 16px;
	color: #414042;
	line-height: 120%;
	margin: 12px 0 5px;
	padding: 0 15px;
	min-height: 37px;
	height: 37px;
}

.list-press-corner .title span
{
	color: #6e8bb9;
	/*font-family: 'helvetica_bold';*/
	font-family: arial;
	font-weight: bold;
}

.list-press-corner .date
{
	padding: 0 15px;
	font-size: 12px;
	color: #9d9fa2;
	/*font-family: 'HelveticaNeueLight';*/
	font-family: arial;
}

.list-press-corner .article-description{
	overflow: hidden;
	min-height: 60px;
	height: 60px;
}

.list-press-corner p
{
	/*font-family: 'HelveticaNeueLight';*/
	font-family: arial;
	font-size: 12px;
	color: #414042;
	margin: 12px 0;
	line-height: 140%;
	padding: 0 15px;	
}

.list-press-corner .view-more
{
	width: 100px;
	height: 32px;
	background-color: #3d82a6;
	text-align: center;
	line-height: 32px;
	margin: 20px auto auto;
	background: -webkit-linear-gradient(0deg, rgba(61, 130, 166, 0.86) 5%, rgba(86, 146, 178, 0.9) 100%);
	background: -moz-linear-gradient(0deg, rgba(61, 130, 166, 0.86) 5%, rgba(86, 146, 178, 0.9) 100%);
	background: -ms-linear-gradient(0deg, rgba(61, 130, 166, 0.86) 5%, rgba(86, 146, 178, 0.9) 100%);
	background: -o-linear-gradient(0deg, rgba(61, 130, 166, 0.86) 5%, rgba(86, 146, 178, 0.9) 100%);
}

.list-press-corner .view-more a
{
	color: #fff;
	text-transform: uppercase;
	font-size: 13px;
	/*font-family: 'helvetica_bold';*/
	font-family: arial;
	font-weight: bold;
	display: block;
}
.history-content{
	padding: 7px;
	height: 568px;
	background: url(../images/bg_history.jpg) no-repeat center ;
}
.history-controls-content{
    width: 685px;
    height: 78px;
    position: relative;
    border-top: 2px solid #6e8bb9;
}
.history-right-content{
	height: 442px;
	width: 100%;
}
.time-line{
	height: 94px;
	padding: 0 25px;
	width: 635px;
}
.time-line .time-line-item{
	width:79px;
    height: 94px;  
    position: relative;
    float: left;
    text-align: center
}
.ball-time{
	background: url("../images/bg-ball.png") no-repeat scroll center bottom rgba(0, 0, 0, 0);
	bottom: 88px;
	cursor: pointer;
	height: 31px;
	position: absolute;
	width: 45px;
	left: 22%;
}
.time-line-item .year {
	color: #6e8bb9;
	font-size: 14px;
	font-weight: bold;
	margin: 18px auto 0;
	width: 48px;
}
.time-line-item .current{
	background: url("../images/current_bg_ball.png") no-repeat scroll center bottom rgba(0, 0, 0, 0);
	bottom: 81px;
}
.img_history {
	margin: 30px auto 0;
	width: 198px;
	padding: 5px;
	border: 2px solid #969696;
	border-radius: 5px;
	height: 198px;
}
.title_history {
	color: #6e8bb9;
	font-size: 23px;
	margin-top: 25px;
	text-align: center;
	font-weight: bold;
}
.info_history {
	font-size: 12px;
	margin: 28px auto 0;
	text-align: center;
	width: 428px;
}