.content_right
{
	width:687px;
	background: url(../images/bg_lytuong.png) no-repeat center;
	height: 448px;
	padding: 7px;
}
.about_text
{
	float: left;
	width: 292px;
	font-family:arial,sans-serif;
	margin: 0px 0px 0px 27px;
}
.title_text
{
	font-size: 20px;
	color: #6e8bb9;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 28px;
}
.content_text
{
	font-size: 12px;
	line-height: 20px;
	max-height: 320px;
}
