.wrap_comment {
	background: #FFFFFF;
	margin: 0 auto;
	padding-bottom: 10px;
	width: 917px;
	margin-bottom: 12px;
	padding-top: 3px;
	margin-top: 12px;
	border: 1px solid #e6e7e8;
}
.wrap_comment .top_add_review{
	border: none;
	/*margin: 25px auto 0;*/
}

.wrap_comment .customer_review{
	background: #277b15;
	height: 33px;
	width: 911px;
	font-size: 17px;
	color: #ffffff;
	text-transform: uppercase;
	padding-top: 8px;
	padding-left: 60px;
	font-weight: bold;
	padding-bottom: 5px;
	margin-left: 3px;
}

.wrap_comment .comment_product_input{
	margin-top: 10px;
	width: 918px;
	/*height: 275px;*/
	height: 201px;
	border-top: 1px solid #ebebeb;
	padding-left: 38px;
	/*padding-top: 37px;*/
	padding-top: 10px;
}

.comment_product_input .profile-user{
	width: 278px;
	float: left;
}

.comment_product_input .profile-user .thumb-pic{
	float: left;
}

.comment_product_input .profile-user .thumb-pic img{
	width: 90px;
	height: 90px;
}

.comment_product_input .form_comment{
	float: left;
	/*height: 276px;*/
	height: 190px;
	position: relative;
}

.product-rating {
	float: left;
	padding-top: 25px;
	padding-left: 20px;
}
.product-rating .title{
	font-size: 12px;
	color: #414042;
	font-weight: bold;
	padding-bottom: 5px;
}

.comment_product_input .user-input{
	width: 553px;
	/*height: 195px;*/
	height: 125px;
	border: 1px solid #ebebeb;
	float: left;
	margin-top:10px;
	border-radius: 7px;
}

.comment_product_input .user-input-title{
	color: #197205;
	font-size: 17px;
	width: 523px;
	float: left;
	border-bottom: 1px solid #ebebeb;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	text-transform:uppercase;
	font-weight: bold;
}

.comment_product_input .user-submit{
	bottom: 0;
	position: absolute;
	right: 0;
}

.user-input .comment-input{
	width: 509px;
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	resize:none;
	border: none;
	/*height: 90px;*/
	height: 80px;
}

.comment-product{
	width:914px;
	padding-left: 40px;
	padding-top: 38px;
	overflow: hidden;
	height: 309px;
}
.comment-product .comment-item .profile-user{
	float: left;
	width: 278px;
}

.comment-product .comment-item .profile-user .thumb-pic{
	float: left;
	width: 106px;
	height: 106px;
}

.comment-product .comment-item .profile-user .product-comment-rating{
	float: left;
	/*width: 720px;*/
	height: 106px;
	padding-left: 15px;
	padding-top: 5px;
}

.comment-product .comment-item .profile-user .thumb-pic img{
	width: 106px;
	height: 106px;
}

.product-comment-rating .profile-user-comment {
	/*margin-top:20px;*/
	float: left;
	/*width: 720px;*/
}
.product-comment-rating .profile-user-comment .username{
	font-size: 12px;
	color: #000000;
	font-weight: bold;
}

.product-comment-rating .profile-user-comment .datetime{
	font-size: 12px;
	color: #414042;
	margin-top:5px;
}
.product-comment-rating .profile-user-comment .rating{
	margin-top: 12px;
}

.comment-item .comment-content{
	color: #414042;
	float: left;
	font-size: 12px;
	line-height: 20px;
	margin-left: 30px;
	margin-right: 12px;
	width: 523px;
}

.comment-item {
	padding-bottom: 53px;
	overflow: hidden;
	width: 860px;
}

.paging-comment{
	width: 900px;
	float: left;
}

.paging-comment ul li{
	float: left;
	width: 15px;
	height: 15px;
	cursor: pointer;
	margin-right: 5px;
}

.paging-comment .paging-comment-list{
	margin: 0 auto;
	width: 80px;
}

.paging-comment ul li.number{
	background: url('../images/paging.png');
}

.paging-comment ul li.active{
	background: url('../images/paging-active.png');
}
@media(max-width: 992px){
	.comment-product{
		height: auto !important;
	}
}