.nav-vichy-top-right .login{
	text-transform: uppercase;
	font-size: 14px;
	padding-top: 10px;
	margin-right:25px;
	width: 205px;
	height: 25px;
	background: url('../images/friend-icon.png') no-repeat; 
	background-position: left;
	font-weight: bold;
	float: left;
	position: relative;
}

.nav-vichy-top-right .login .in{
	font-weight: bold;
	color:#6e8bb9;
	padding-left: 28px;
	cursor: pointer;
}

.nav-vichy-top-right .login .myskin{
	font-weight: bold;
	color:#414042 !important;
	cursor: pointer;
}

.nav-vichy-top-right .login .popup-login{
	position: absolute;
	width: 280px;
	height: 360px;
	background: #ffffff;
	z-index: 999;
	top: 36px;
	left: -40px;
	border-bottom: 1px solid #e5e6e7;
	border-left: 1px solid #e5e6e7;
	border-right: 1px solid #e5e6e7;
	padding-top: 30px;
	padding-left: 30px;
	text-transform: none;
	display: none;
}


.nav-vichy-top-right .login .popup-login h1{
	font-size: 14px;
	color: #6e8bb9;
	text-transform: uppercase;
	font-weight: bold;
}

.nav-vichy-top-right .login .popup-login .inputbox{
	width: 235px;
	height: 30px;
	border: 1px solid #9d9fa2;
	margin-top:20px;
	padding-left: 10px;
}

.nav-vichy-top-right .login .popup-login .button{
	padding-top:10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	background: #77a7c1;
	color: #ffffff;
	text-transform: uppercase;
	border: none;
	font-weight: bold;
	cursor: pointer;
	margin-left: 70px;
	margin-top: 20px;
}

.nav-vichy-top-right .login .popup-login .modlgn-remember{
	font-size: 11px;
	color: #414042;
}

.nav-vichy-top-right .login .popup-login .forgot-password{
	font-size: 11px;
	color: #6e8bb9;
	margin-left: 20px;
}

.nav-vichy-top-right .login .popup-login .form-connect-facebook{
	font-size: 14px;
	color: #6e8bb9;
	text-transform: uppercase;
	margin-top:20px;
	font-weight: bold;
}
.nav-vichy-top-right .login .popup-login .form-connect-facebook img{
	margin-left: 90px;
	margin-top: 20px;
}

#form-login-remember{
	margin-top:10px;
}
#login-form{
	display: inline;
}
#button-logout{
	background: none;
	border: none;
	font-weight: bold;
	padding: 0;
	text-transform: uppercase;
}