.content-left
{
	float: left;
	width: 220px;
	margin: 0 0 20px;
}

.content-right
{
	float: right;
	width: 700px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow:0px 2px 2px #B6B7B9;
	background-color: #fff;
	margin: 0 0 20px;
}

.menu-left li
{
	
	
	height: 32px;
	line-height: 32px;
	
}

.menu-left li a.active, .menu-left li a:hover
{
	/* IE10+ */ 
	background-image: -ms-linear-gradient(bottom, #234E91 0%, #234e91 50%, #295394 60%, #4C6FA5 100%);
	
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom, #234E91 0%, #234e91 50%, #295394 60%, #4C6FA5 100%);
	
	/* Opera */ 
	background-image: -o-linear-gradient(bottom, #234E91 0%, #234e91 50%, #295394 60%, #4C6FA5 100%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #234E91), color-stop(50, #234e91), color-stop(60, #295394), color-stop(100, #4C6FA5));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom, #234E91 0%, #234e91 50%, #295394 60%, #4C6FA5 100%);
	
	/* W3C Markup */ 
	background-image: linear-gradient(to top, #234E91 0%, #234e91 50%, #295394 60%, #4C6FA5 100%);

	
    	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#234E91', endColorstr='#4C6FA5',GradientType=1 ); /* IE6-9 */
    	/* For Internet Explorer 8 */
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#234E91, endColorstr=#4C6FA5,GradientType=1);

}

.menu-left li a
{
	color: #fff;
	/*font-family: 'helvetica_bold';*/
	font-family: arial;
	font-weight: bold;
	font-size: 14px;
	padding: 0 0 0 16px;
	display: block;
	
	/* IE10+ */ 
	background-image: -ms-linear-gradient(bottom, #6E8BB9 0%, #6E8BB9 50%, #7490BC 60%, #8ba2c7 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom, #6E8BB9 0%, #6E8BB9 50%, #7490BC 60%, #8ba2c7 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(bottom, #6E8BB9 0%, #6E8BB9 50%, #7490BC 60%, #8ba2c7 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #6E8BB9), color-stop(50, #6E8BB9), color-stop(60, #7490BC), color-stop(100, #8ba2c7));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom, #6E8BB9 0%, #6E8BB9 50%, #7490BC 60%, #8ba2c7 100%);
	/* W3C Markup */ 
	background-image: linear-gradient(to top, #6E8BB9 0%, #6E8BB9 50%, #7490BC 60%, #8ba2c7 100%);
 
	
	
    	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6E8BB9', endColorstr='#8ba2c7',GradientType=1 ); /* IE6-9 */
    	/* For Internet Explorer 8 */
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#6E8BB9, endColorstr=#8ba2c7,GradientType=1);
}
.left {
  float: left;
}
.right {
  float: right;
}
.description{
	/*font-family: 'HelveticaNeueLight';*/
	font-family: arial;
	font-size: 12px;
	padding-bottom: 20px;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
}
.description p{
	margin-bottom: 20px;
	margin-left: 0;
	margin-right: 0;
	margin-top: 20px;
	padding-bottom: 0;
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 0;
}
.vichy-spa
{
	width: 940px;
	margin: 0 auto;
}

.vichy-spa .content
{
	padding: 15px 22px 20px 22px;
}

.vichy-spa h2
{
	/*font-family: 'helvetica_bold';*/
	font-family: arial;
	font-weight: bold;
	color: #7f9bb6;
	font-size: 30px;
	font-weight: normal;
	line-height: 100%;
	margin: 0 0 20px;
}

.vichy-spa .list-spa
{
	width: 319px;
}

.vichy-spa .list-spa .title
{
	height: 32px;
	line-height: 32px;
	background-color: #b1bec5;
	text-align: center;
	color: #fff;
	font-size: 16px;
	/*font-family: 'helvetica_bold';*/
	font-weight: bold;
	font-family: arial;
	text-transform: uppercase;
}

.list-spa ul
{
	padding: 30px 0 0;
}

.list-spa ul li
{
	display: table;
	margin: 0 0 35px;
}

.list-spa ul li .image
{
    float: left;
    margin-right: 9px;
    width: 120px;
	height: 120px;
	display: table-cell;
}

.list-spa ul li .info
{
	display: table-cell;
	vertical-align: top;
}

.list-spa ul li .info h3
{
	color: #7F9BB6;
    /*font-family: 'helvetica_bold';*/
    font-family: arial;
    font-weight: bold;
    font-size: 16px;
    margin: 7px 0 7px;
    text-transform: uppercase;
}


.list-spa ul li .addr {
    color: #414042;
    /*font-family: 'HelveticaNeueLight';*/
    font-family: arial;
    font-size: 12px;
    margin: 0 0 3px;
}

.list-spa ul li .addr span
{
	/*font-family: 'helvetica_bold';*/
	font-family: arial;
	font-weight: bold;
}

.vichy-spa .box-contact
{
	/* IE10+ */ 
	background-image: -ms-linear-gradient(top, #6199b6 0%, #3D82A6 47%, #3D82A6 100%);
	
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #6199b6 0%, #3D82A6 47%, #3D82A6 100%);
	
	/* Opera */ 
	background-image: -o-linear-gradient(top, #6199b6 0%, #3D82A6 47%, #3D82A6 100%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #6199b6), color-stop(47, #3D82A6), color-stop(100, #3D82A6));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #6199b6 0%, #3D82A6 47%, #3D82A6 100%);
	
	/* W3C Markup */ 
	background-image: linear-gradient(to bottom, #6199b6 0%, #3D82A6 47%, #3D82A6 100%);
	
	height: 90px;
	margin: 45px 0 0;
	clear: both;
	width: 657px;
	text-align: center;

}

.vichy-spa .box-contact p
{
	color: #fff;
	font-size: 16px;
	/*font-family: 'HelveticaNeueLight';*/
	font-family: arial;
	padding: 24px 0 0;
}

.vichy-spa .box-contact  span
{
	/*font-family: 'helvetica_bold';*/
	font-family: arial;
	font-weight: bold;
}

.vichy-spa .box-contact  span a
{
	color: #fff;
}