
.spa_right
{
	width:686px;
	background: url(../images/Vichy_Vichy_introduction-1.jpg) no-repeat;
	height: 612px;
	margin: 3px;
}
.spa_text
{
	float: left;
	width: 380px;
	font-family:arial,sans-serif;
	margin: 28px 0px 0px 45px;
}
.intro_text
{
	font-size:20px;
	color:#25aae1;
	margin-bottom: 20px;
	font-style: italic;
}
.content_text
{
	font-size: 12px;
	margin-bottom: 28px;
	/* max-height: 140px; */
	overflow: hidden;
	color: #666;
	line-height: 19px;
}
.title_text
{
	color:#25aae1;
	font-size: 20px;
	font-style: italic;
}
.sub_text
{
	text-transform: uppercase;
	font-size: 16px;
	margin-left: 55px;
}
@media (max-width: 992px) {
	.content_text{
		margin-bottom: 50%;
	}
	.spa_right{
		background-position: 0% 100%;
  		background-size: 100%;
	}
}